////
/// @group selector
////
/// @todo Finish Documentation

@use "sass:string";
@use "sass:map";
@use "utils";

/// Module Settings
/// - This module can be used for dynamic classnames (used in base and some components). Some components selectors are too complex or coupled for dynamic classnames. 
/// @todo See about documenting when a component doesn't run through the selecotr module to get it's base classname
/// @type Map
/// @prop {String} $config.prefix Global prefix for selectors (would be used for classname prefix for example)

$config: (
  "prefix" : ""
) !default;

// Map to store class overrides ("button" : "site-button") for example
$-class-overrides: ();
$-class-wildcards: ();

/// Change modules $config
/// @param {Map} $changes Map of changes
/// @example scss - General example, replace module-name with module's name
///   @include module-name.set(( "property" : value ));
@mixin set($changes) {
  $config: map.merge($config, $changes) !global;
}

/// Get a config option
/// @param {Map} $name Name of property
/// @example scss - General example, replace module-name with module's name
///   @include module-name.get("property");

@function get($name) {
  @return utils.require-map-get($config, $name, "selector [config]");
}

/// Set the class selector overrides
/// @param {Map} $changes Changes to merge

@mixin set-class-overrides($changes) {
  @each $key, $prop in $changes {
    $index: string.index($key, "*");
    @if ($index) {
      $wild-key: string.slice($key, 1, $index - 1);
      $-class-wildcards: map.set($-class-wildcards, $wild-key, $prop) !global;
      $changes: map.remove($changes, $key);
    }
  }
  $-class-overrides: map.merge($-class-overrides, $changes) !global;
}

/// Used to allow global prefixing of classes, and also the ability to 
/// Change a class used in the system (ie. like a component for example)
/// @param {String} $class The classname to set

@function class($class, $name-only: false) {
  // Check if it's a wildcard
  $wildcard: get-class-wildcard($class);
  $override: map.get($-class-overrides, $class);
  $updated: if($override, $override, if($wildcard, $wildcard, $class));
  $name: "#{ get("prefix") }#{ $updated }";
  @if $name-only {
    @return $name;
  } @else {
    @return ".#{ $name }";
  }
}

@function get-class-wildcard($class) {
  $change: $class;
  @each $key, $prop in $-class-wildcards {
    $index: string.index($class, $key);
    @if ($index) {
      $change: utils.string-replace($class, $key, $prop);
    }
  }
  @return $change;
}