{% extends "html.njk" %}
{% block main %}
  <div class="page__body-top container ">
    {% include "partials/page-header.njk" %}
    <div class="wysiwyg">
      {{ content | safe }}
    </div>
  </div>
{% endblock %}