{# Layout where user needs to set headlines and wysiwyg #}
{% extends "fullpage-html.njk" %}
{% block main %}
  <div class="page__content-header">
    <div class="container">
      <div class="type-max-width">
        <h1 class="page__title h1">{{ title }}</h1>
        {% if intro %}
          <div class="rule rule--short rule--accent"></div>
          <p class="type-large type-light">
            {{ intro }}
          </p>
        {% endif %}
      </div>
    </div>
  </div>
  {{ content | safe }}
{% endblock %}