{# Layout where user needs to set headlines and wysiwyg #}
{% extends "html.njk" %}
{% block main %}
  <div class="page__body-top container ">
    {% include "partials/page-header.njk" %}
    {{ content | safe }}
  </div>
{% endblock %}