@use "vars";
@use "ulu";

$padding: 1rem;
$breakpoint: "medium";

.header {
  background-color: ulu.cssvar-use("color-header-background");
  @include ulu.breakpoint-min($breakpoint) {
    display: flex;
    flex-direction: column;
  }
}
.header__main {
  width: 100%;
  display: flex;
  align-items: center;
  padding: $padding;
  // border-bottom: ulu.element-get-rule-style("light");
  background-color: ulu.cssvar-use("color-accent");
  color: ulu.cssvar-use("color-type-inverse");
  position: sticky;
  top: 0;
  .fullscreen-layout & {
    padding-top: 0;
    padding-bottom: 0;
    height: 100%;
  }
}

.header__logo {
  &,
  &:hover,
  &:focus {
    color: ulu.cssvar-use("color-type-inverse");
  }
}
.header__mobile-toggle {
  margin: 0 0 0 auto;
  @include ulu.breakpoint-min($breakpoint) {
    display: none;
  }
}
.header__nav {
  width: 100%;
  @include ulu.breakpoint-max($breakpoint) {
    display: none;
  }
}
.header__nav-menu {
  padding: $padding;
}
.header__nav-links {
  // padding: 0.1em $padding;
  // width: 100%;
  // margin-top: auto;
  // background-color: ulu.color-tint(vars.$color-gray-dark, 90%);
  position: fixed;
  top: 0.25rem;
  right: 1rem;
}
// .header__nav {
//   margin-left: auto;
//   .nav {
//     display: flex;
//   }
// }
