@use "vars";
@use "ulu";

$padding: 1rem;

.header {
  background-color: ulu.color-tint(vars.$color-gray-dark, 95%);
  @include ulu.breakpoint-min("medium") {
    display: flex;
    flex-direction: column;
  }
}
.header__main {
  width: 100%;
  display: block;
  padding: $padding;
  // border-bottom: ulu.element-get-rule-style("light");
  background-color: vars.$color-violet;
  color: white;
  position: sticky;
  top: 0;
}

.header__logo {
  &,
  &:hover,
  &:focus {
    color: white;
  }
}
.header__nav {
  width: 100%;
  @include ulu.breakpoint-max("medium") {
    display: none;
  }
}
.header__nav-menu {
  padding: $padding;
}
.header__nav-links {
  // padding: 0.1em $padding;
  // width: 100%;
  // margin-top: auto;
  // background-color: ulu.color-tint(vars.$color-gray-dark, 90%);
  position: fixed;
  top: 0.25rem;
  right: 1rem;
}
// .header__nav {
//   margin-left: auto;
//   .nav {
//     display: flex;
//   }
// }