@use "vars";
@use "ulu";

.live-demo {
  background-color: ulu.cssvar-use("color-background-live-demo");
  border-radius: ulu.element-get("border-radius");
  overflow: hidden;
  @include ulu.breakpoint-min("medium") {
    display: grid;
    grid-template-columns: 1fr 12rem;
  }
}

.live-demo__display {
  padding: 0.75rem;
}
.live-demo__form {
  background-color: #e5e5e5;
  padding: 0.5rem;
}