@use "vars";
@use "ulu";
@use "sass:color";

$link-padding-x: 0.75em;
$link-padding-y: 0.35em;
$link-indent: 1.5em;
$collapsible-inner-padding: 0.5em;

.nav-tree__item {
  margin: 3px 0;
}
.nav-tree__link,
.nav-tree__toggle {
  display: flex;
  align-items: baseline;
  padding: $link-padding-y $link-padding-x;
  border-radius: ulu.element-get("border-radius");
  color: ulu.color-get("type-tertiary");
  &:hover {
    background-color: color.change(vars.$color-gray-dark, $alpha: 0.2);
    color: black
  }
}
.nav-tree__toggle {
  font-weight: bold;
  &::marker {
    display: none;
  }
  & + .nav-tree {
    margin-top: $collapsible-inner-padding;
  }
}
.nav-tree .nav-tree .nav-tree__toggle {
  font-weight: normal;
}
.nav-tree__toggle-content {
  display: flex;
  align-items: baseline;
  padding-right: 1em;
  flex-grow: 1;
}
.nav-tree__toggle-icon {
  margin-left: auto;
  width: 1em;
  flex: 0 0 1em;
  .nav-tree__collapsible[open] > .nav-tree__toggle & {
    transform: rotate(180deg);
  }
}
.nav-tree__link {
  &.is-active {
    // background-color: vars.$color-violet-light-x;
    color: ulu.color-get("accent");
    // font-weight: bold;
    background-color: color.change(vars.$color-gray-dark, $alpha: 0.1);
  }
}
.nav-tree__collapsible {
  &[open] {
    padding-bottom: $collapsible-inner-padding;
  }
}
.nav-tree__text {
  flex-grow: 1;
}
.nav-tree__icon {
  margin-right: 0.35em;
  width: 1em;
  flex: 0 0 1.2em;
  opacity: 0.8;
}

// Depth styling
.nav-tree {
  // .nav-tree {
  //   .nav-tree__toggle,
  //   .nav-tree__link:not(.is-active) {
  //     &:not(:hover) { 
  //       color: ulu.color-get("type-secondary");
  //     }
  //   }
  // }
  &[data-menu-depth="1"] {
    > .nav-tree__item {
      margin-bottom: 0.5em;
    }
  }
  @for $index from 2 through 5 {
    &[data-menu-depth="#{ $index }"] {
      .nav-tree__link,
      .nav-tree__toggle {
        padding-left: $link-indent * ($index - 1);
      }
    }
  }
}