@use "vars";
@use "ulu";

$breakpoint: "medium";
$breakpoint-below: "small";

@mixin toc-inline-styles() {
  padding-bottom: 2rem;
  padding-top: 2rem;
  // @include ulu.layout-container-styles("container");
  .toc {
    background-color: ulu.color-tint(vars.$color-violet, 90%);
    padding: 1rem;
    border-radius: ulu.element-get("border-radius");
  }
  h2 {
    border-bottom: ulu.element-get-rule-style("light");
  }
  .toc > ol {
    columns: 2;
    column-gap: 2em;
    column-rule: 1px dotted #ddd;
    overflow: auto;
  }
}

.page-toc {
  // // padding: 5rem 1rem 1rem 1rem;
  // padding-top: 5rem;
  // background-color: ulu.cssvar-use("color-background");
  
  @include ulu.breakpoint-max($breakpoint) {
    @include toc-inline-styles();
  }
  h2 {
    @include ulu.typography-size("h6", $only-font-size: true);
    font-weight: bold;
    margin-bottom: 0.35em;
    padding-bottom: 0.35em;
  }
  ol {
    @include ulu.typography-size("small", $only-font-size: true);
    line-height: ulu.typography-get("line-height-dense");
    font-weight: bold;
  }
  ol ol {
    margin-left: 1em;
    font-weight: normal;
  }
  li {
    break-inside: avoid
  }
  a {
    color: ulu.color-get("type-secondary");
    display: block;
    padding: 0.25em 0;
    @include ulu.typography-word-break();
    &:hover {
      color: ulu.cssvar-use("color-type-navtree-hover");
    }
    &.is-active {
      color: ulu.color-get("accent");
    }
  }
}
.page-toc--inline {
  @include toc-inline-styles();
}
.page--toc-sidebar .page-toc {
  padding: 5rem 1rem 1rem 1rem;
  @include ulu.breakpoint-max($breakpoint) {
    @include ulu.layout-container-styles("container");
    padding-top: 2rem;
    padding-bottom: 0;
  }
}