@use "vars";
@use "ulu";

// $z-index: ulu.layout-get("z-index-fixed") - 2; 
// $menu-width: 20rem;

.page {
  background-color: white;
  display: grid;
  grid-template-areas: "header body toc";
  grid-template-columns: minmax(15rem, 18rem) minmax(0, 1fr) minmax(0, 15rem);
  @media print {
    display: block !important;
  }
  @include ulu.breakpoint-max("medium") {
    display: block;
  }
}
.page__header,
.page__toc {
  height: 100vh;
  position: sticky;
  top: 0;
  overflow-y: auto;
  @media print {
    display: none !important;
  }
  
}
.page__header {
  // position: fixed;
  // top: 0;
  // left: 0;
  // width: $menu-width;
  grid-area: header;
  z-index: ulu.layout-get("z-index-above");
  // height: 100%;
  // z-index: $z-index; 
  // background-color: white;
  
  // border-right: ulu.element-get-rule-style("light");
  @include ulu.breakpoint-max("medium") {
    height: auto;
  }
}
.page__body {
  grid-area: body;
  // padding-left: $menu-width;
}
.page__toc {
  grid-area: toc;
  @include ulu.breakpoint-max("medium") {
    height: auto;
    position: static;
  }
}

.page__body-top {
  padding-top: 6rem;
  @include ulu.breakpoint-max("small") {
    padding-top: 3rem;
  }
}

.page--fullscreen {
  display: block;
}