
.card {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 28rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  color: #323a4f;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: 2px solid transparent;
  outline-offset: -1px;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-property: border-color, background-color, color, outline-color, outline-width, -webkit-box-shadow, -webkit-transform;
  transition-property: border-color, background-color, color, outline-color, outline-width, -webkit-box-shadow, -webkit-transform;
  transition-property: border-color, background-color, color, box-shadow, transform, outline-color, outline-width;
  transition-property: border-color, background-color, color, box-shadow, transform, outline-color, outline-width, -webkit-box-shadow, -webkit-transform;
  --ulu-card-aside-rule: 1px solid var(--site-color-rule-light);
}

.card[data-ulu-proxy-click-init]:hover, .card[data-ulu-proxy-click-init]:focus-within,
a.card:hover,
a.card:focus-within,
button.card:hover,
button.card:focus-within,
.card--clickable:hover,
.card--clickable:focus-within {
  background-color: rgb(242, 244, 246);
  outline: 2px solid #278cca;
}

.card__footer,
.card__main,
.card__aside {
  padding: 2rem;
}

.card__body {
  grid-column: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-height: 10rem;
}

.card__footer {
  grid-column: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  min-height: 2.5rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: #dedede;
}

.card__aside {
  background-color: #f1f1f1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--site-color-rule-light)), to(var(--site-color-rule-light)));
  background-image: linear-gradient(var(--site-color-rule-light), var(--site-color-rule-light));
  background-size: calc(100% - 4rem) 1px;
  background-position: center top;
  background-repeat: no-repeat;
}

.card__header + .card__content {
  margin-top: 0.75em;
}

.card__image {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  grid-column: 1/-1;
  overflow: hidden;
  background-color: rgb(238, 238, 238);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  aspect-ratio: 5 / 3;
}

.card__title {
  display: block;
  margin-bottom: 1rem;
  font-weight: bold;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-property: color;
  transition-property: color;
}

.card__title-link {
  all: unset;
  cursor: pointer;
}

.card__image img,
.card__image-media {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition-duration: 350ms;
          transition-duration: 350ms;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-property: background-color, -webkit-transform, -webkit-filter;
  transition-property: background-color, -webkit-transform, -webkit-filter;
  transition-property: transform, filter, background-color;
  transition-property: transform, filter, background-color, -webkit-transform, -webkit-filter;
}

.card--fill {
  max-width: none;
  height: 100%;
  margin: 0;
}

.card--footer-inline .card__footer {
  padding: 0.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card--footer-inline:not(.card--overlay) {
  grid-template-columns: 1fr auto;
}
.card--footer-inline:not(.card--overlay) .card__footer {
  grid-column: 2;
}

.card--footer-start .card__footer {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.card--footer-center .card__footer {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card--footer-end .card__footer {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.card__image--icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.card__image--icon img,
.card__image--icon .card__image-media {
  display: block;
  max-width: 8rem;
  height: auto;
}

.card--image-fit .card__image img,
.card--image-fit .card__image .card__image-media {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: top center;
     object-position: top center;
  padding: 1rem;
  -webkit-filter: drop-shadow(0 0px 8px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(0 0px 8px rgba(0, 0, 0, 0.3));
}

.card--no-image .card__image {
  display: none;
}

@media screen and (min-width: 43.5em) {
  .card--horizontal {
    grid-template-columns: min(33%, 20rem) 1fr;
    grid-template-rows: 1fr auto;
    min-height: 20rem;
    max-width: 80rem;
  }
  .card--horizontal:not(:has(> .card__footer)) {
    grid-template-rows: auto;
  }
  .card--horizontal .card__image {
    grid-column: 1/2;
    grid-row: 1/-1;
    aspect-ratio: auto;
    border-top-right-radius: 0;
    border-bottom-left-radius: 5px;
  }
  .card--horizontal .card__body,
  .card--horizontal .card__footer {
    grid-column: 2/3;
  }
  .card--horizontal .card__body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .card--horizontal .card__main {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: 40rem;
  }
  .card--horizontal .card__aside {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
    height: 100%;
    background-size: 1px calc(100% - 4rem);
    background-position: left center;
  }
  .card--horizontal .card__aside::after {
    content: "";
    position: absolute;
    top: 2rem;
    left: calc(0rem - 0.5px);
    height: calc(100% - 2rem - 2rem);
    width: 1px;
    background-color: "rule-light";
  }
  .card--horizontal:not(:has(.card__image)) {
    grid-template-columns: 1fr;
  }
  .card--horizontal:not(:has(.card__image)) .card__body,
  .card--horizontal:not(:has(.card__image)) .card__footer {
    grid-column: 1/2;
  }
  .card--horizontal.card--no-image {
    grid-template-columns: 1fr;
  }
  .card--horizontal.card--no-image .card__body,
  .card--horizontal.card--no-image .card__footer {
    grid-column: 1/2;
  }
  .card--horizontal-center .card__body {
    -ms-flex-item-align: center;
        align-self: center;
  }
  .card--horizontal.card--footer-inline {
    grid-template-columns: min(33%, 20rem) 1fr auto;
    grid-template-rows: 1fr;
  }
  .card--horizontal.card--footer-inline .card__footer {
    grid-column: 3;
  }
}
.card--horizontal-persist {
  grid-template-columns: min(33%, 20rem) 1fr;
  grid-template-rows: 1fr auto;
  min-height: 20rem;
  max-width: 80rem;
}
.card--horizontal-persist:not(:has(> .card__footer)) {
  grid-template-rows: auto;
}
.card--horizontal-persist .card__image {
  grid-column: 1/2;
  grid-row: 1/-1;
  aspect-ratio: auto;
  border-top-right-radius: 0;
  border-bottom-left-radius: 5px;
}
.card--horizontal-persist .card__body,
.card--horizontal-persist .card__footer {
  grid-column: 2/3;
}
.card--horizontal-persist .card__body {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.card--horizontal-persist .card__main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 40rem;
}
.card--horizontal-persist .card__aside {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  height: 100%;
  background-size: 1px calc(100% - 4rem);
  background-position: left center;
}
.card--horizontal-persist .card__aside::after {
  content: "";
  position: absolute;
  top: 2rem;
  left: calc(0rem - 0.5px);
  height: calc(100% - 2rem - 2rem);
  width: 1px;
  background-color: "rule-light";
}
.card--horizontal-persist:not(:has(.card__image)) {
  grid-template-columns: 1fr;
}
.card--horizontal-persist:not(:has(.card__image)) .card__body,
.card--horizontal-persist:not(:has(.card__image)) .card__footer {
  grid-column: 1/2;
}
.card--horizontal-persist.card--no-image {
  grid-template-columns: 1fr;
}
.card--horizontal-persist.card--no-image .card__body,
.card--horizontal-persist.card--no-image .card__footer {
  grid-column: 1/2;
}

.card--horizontal-persist.card--horizontal-center .card__body {
  -ms-flex-item-align: center;
      align-self: center;
}

.card--horizontal-persist.card--footer-inline {
  grid-template-columns: min(33%, 20rem) 1fr auto;
  grid-template-rows: 1fr;
}
.card--horizontal-persist.card--footer-inline .card__footer {
  grid-column: 3;
}

.card--overlay {
  grid-template-rows: minmax(-webkit-min-content, 1fr) auto;
  grid-template-rows: minmax(min-content, 1fr) auto;
  aspect-ratio: 4 / 3;
}
.card--overlay .card__body {
  grid-row: 1/2;
  align-self: end;
  min-height: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-top: 5rem;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(4rem, rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6)));
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.6) 4rem, rgba(0, 0, 0, 0.6) 100%);
}
.card--overlay .card__body:not(:has(~ .card__footer)) {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.card--overlay .card__aside {
  background-color: transparent;
}
.card--overlay .card__footer {
  grid-row: 2/3;
  background-color: rgba(0, 0, 0, 0.6);
}
.card--overlay .card__body,
.card--overlay .card__footer {
  color: white;
}
.card--overlay .card__body:last-child,
.card--overlay .card__footer:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.card--overlay .card__title {
  color: white;
}
.card--overlay .card__title-link:hover, .card--overlay .card__title-link:focus {
  color: rgb(79, 175, 230);
}
.card--overlay .card__image {
  grid-column: 1/-1;
  grid-row: 1/-1;
  border-radius: 5px;
  aspect-ratio: auto;
}
.card--overlay .card__image img,
.card--overlay .card__image .card__image-media {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 0;
}

.card--overlay.card--footer-inline {
  grid-template-columns: 1fr auto;
}
.card--overlay.card--footer-inline .card__footer {
  grid-column: 2;
  grid-row: 1/-1;
  border-radius: 0 5px 5px 0;
}