/node_modules
/trash
/logs
/scss-TRASH
.DS_Store
jsconfig.json
/logs
/docs-dev


/local-only/*
!/local-only/.gitkeep
**/local-only/*
!**/local-only/.gitkeep

# Local development build artifact
site/dist