@use "vars";
@use "ulu";

$padding: 1rem;

.header {
  // display: flex;
  // padding: $padding;
}
.header__logo {
  display: block;
  padding: $padding;
}
.header__nav {
  border-top: ulu.element-get-rule-style("light");
  padding: $padding;
  // margin-top: 1em;
}
// .header__nav {
//   margin-left: auto;
//   .nav {
//     display: flex;
//   }
// }