@use "vars";
@use "ulu";
@use "sass:map";

$config: (
  "padding" : 1.5rem,
  "margin" : 2rem,
  "border" : ulu.element-get-rule-style("light"),
  "border-radius" :  ulu.element-get("border-radius"),
  "box-shadow" : none,
  "background-color" : rgb(240, 240, 240)
) !default;

$styles: (
  "background-dark" : (
    "background-color" : rgb(240, 240, 240)
  ),
  "light" : (
    "background-color" : white,
    "border-color" : gray
  ),
  "success" : (
    "color" : green,
    "background-color" : lightgreen,
    "border-color" : lightgreen
  ),
  "danger" : (
    "color" : red,
    "background-color" : rgb(221, 131, 131),
    "border-color" : rgb(221, 131, 131)
  )
) !default;

@mixin set($changes) { 
  $config: map.merge($config, $changes) !global; 
}
@function get($name) { 
  @return ulu.utils-require-map-get($config, $name, 'callout [config]'); 
}
@mixin set-styles($changes, $deep: false, $overwrite: false) {
  $styles: ulu.utils-map-merge-or-overwrite($styles, $changes, $deep, $overwrite) !global;
}
@mixin styles {
  .callout {
    background-color: get("background-color");
    padding: get("padding");
    border: get("border");
    margin-bottom: get("margin");
    box-shadow: get("box-shadow");
    border-radius: get("border-radius");
    & >:first-child {
      margin-top: 0;
    }
  }
  .callout--outline {
    background-color: transparent;
  }
  @each $name, $style in $styles {
    .callout--#{ $name } {
      background-color: map.get($style, "background-color"); 
      color: map.get($style, "color"); 
      border: map.get($style, "border"); 
      border-radius: map.get($style, "border-radius"); 
      border-color: map.get($style, "background-color"); 
      box-shadow: map.get($style, "box-shadow"); 
      padding: map.get($style, "padding"); 
    }
  }
}