@use "vars";
@use "ulu";
@use "icon";
@use "sass:map";
@use "sass:math";

$config: (
  "background-color":              white,
  "background-color-open":          #F7F8F7,
  "padding-x":                      1.5rem,
  "padding-y":                      1.5rem,
  "margin":                         3rem,
  "margin-between":                 0,
  "border-radius":                  0,
  "box-shadow":                     none,
  "border-color":                   ulu.color-get("rule"),
  "border":                         1px solid ulu.color-get("rule"),
  "hover-border-color":             ulu.color-shade(ulu.color-get("rule"), 20%),
  "focus-border-color":             ulu.color-get("link"),
  "summary-color":                  ulu.color-get("link"),
  "summary-background-color":     white,
  "icon-color":                     ulu.color-get("link"),
  "icon-size" : 1.25rem
) !default;

@mixin set($changes) { 
  $config: map.merge($config, $changes) !global; 
}
@function get($name) { 
  @return ulu.utils-require-map-get($config, $name, 'site-details [config]'); 
}

@mixin styles {

  // When not one of our custom classed details components
  .site-details,
  details:not([class]) {
    position: relative; // For active border
    border-radius: 0;
    padding-left: get("padding-x");
    padding-right: get("padding-x");
    margin-top: get("margin");
    margin-bottom: get("margin");
    border: get("border");
    background-color: get("background-color");
    box-shadow: get("box-shadow");
    &:first-of-type {
      border-top-left-radius: get("border-radius");
      border-top-right-radius: get("border-radius");
      >summary:after {
        top: get("border-radius");
      }
    }
    &:last-of-type {
      border-bottom-left-radius: get("border-radius");
      border-bottom-right-radius: get("border-radius");
      >summary:after {
        bottom: get("border-radius");
      }
    }
    & + & {
      $gap: -(get("margin") - get("margin-between"));
      margin-top: $gap;
      margin-top: calc($gap - 1px);
    }
    > summary {
      color: get("summary-color");
      margin-left: -(get("padding-x"));
      margin-right: -(get("padding-x"));
      padding: get("padding-y") get("padding-x");
      outline: none;
      vertical-align: top;
      font-weight: bold;
      // line-height: 1.2;
      list-style: none; // Remove the default arrow (old safari?)
      cursor: pointer;
      // Focus / hover since summary is transparent style
      &::after {
        content: "";
        position: absolute;
        display: block;
        top: -1px;
        bottom: -1px;
        left: -1px;
        width: 4px;
        background-color: transparent;
        transition: 200ms background-color ease-in;
      }
      &:hover {
        &::after {
          background-color: get("hover-border-color");
        }
      }
      &:focus {
        &::after {
          transition: none;
          background-color: get("focus-border-color");
        }
      }
      &:hover,
      &:focus {
        .site-details__icon {
          background-color: ulu.color-shade(get("icon-color"), 20%);
        }
      }
    }
    &[open] {
      background-color: get("background-color-open");
      padding-bottom: get("padding-y");
      z-index: 2; // Above child details
      > summary {
        // margin-bottom: get("padding-y");
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0; 
      }
      
    }
  }
  .site-details__icon {
    flex: 0 0 get("icon-size");
    margin-left: 0.5em;
    order: 3;
    background-color: get("icon-color");
    border-radius: 50%;
    width: get("icon-size");
    height: get("icon-size");
    font-size: 1rem;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: arial;
    &::after {
      display: inline-block;
      margin-top: 0.1em;
      content: "\002B";
      // margin-left: auto; // flex to side
      color: white
    }
  }


  // Only site-detials can have icon, 
  // so that plain (no extra markup) details can have the default marker
  .site-details {
    > summary {
      display: flex; // For icon
      align-items: flex-start;
      justify-content: space-between;
      &::-webkit-details-marker,
      &::marker {
        display: none;
        content: "";
      }
    }
    &[open] > summary .site-details__icon {
      &::after {
        // @include icon.content(icon.$fa-var-minus);
        content: "\2212"; // Minus
      }
    }
  }
  .site-details--compact {
    border-left: none;
    border-right: none;
    background-color: transparent;
    padding: 0;
    > summary {
      padding: 0.75em 0;
      background-color: transparent;
      margin: 0;
      &:hover,
      &:focus {
        &::after {
          content: none;
        }
      }
    }
    &[open] {
      background-color: transparent;
      > summary {
        margin-bottom: 0.5em;
      }
      &::after {
        content: none;
      } 
    }
  }
}
