@use "ulu";
@use "vars";

// Note this is setup so that it can be used for seperate stylesheets (ie. tinymce or ckeditor)
@mixin styles($in-selector: true) {
  @if ($in-selector) {
    .wysiwyg {
      @include _styles;
    }
  } @else {
    @include _styles;
  }
}

// Internal mixin
@mixin _styles() {
  a:not([class]) {
    @include ulu.element-link($visited: true, $active: true);
  }
  ul:not(.list-lines, .nav-strip__list) {
    @include ulu.element-styles-unordered-list();
    // list-style-position: inside;
    padding-left: 0;
  }
  ol {
    @include ulu.element-styles-ordered-list(inherit);
  }
  ul,
  ol {
    margin-bottom: 1.5em;
  }
  h1 {
    @include ulu.typography-size("h1");
  }
  h2 {
    @include ulu.typography-size("h2");
  }
  h3 {
    @include ulu.typography-size("h3");
  }
  h4 {
    @include ulu.typography-size("h4");
  }
  h5 {
    @include ulu.typography-size("h5");
  }
  h6 {
    @include ulu.typography-size("h6");
  }
  img:not(.card__image img, .card__image--icon img, .card__image-media, .card__background) {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
  }
}
