@use "vars";
@use "ulu";

.wysiwyg {
  // Make MD table scroll without wrapper
  table {
    display: block;
    white-space: normal;
    overflow-x: auto;
    width: -moz-max-content;
    width: max-content;
    max-width: 100%;
    border-top: none;
    margin-bottom: 1.5em;
  }
  details {
    margin-bottom: 1em;
    border: 1px solid ulu.element-get-rule-style("light");
    padding: 1em;
  }
  // h2,
  // h3 {
  //   margin-top: 1em;
  //   padding-top: 0.5em;
  //   border-top: 1px solid ulu.color-get("rule-light");
  // }
  // h2 {
  //   border-top: 3px solid ulu.color-get("rule-light");
  // }
}