@use "ulu";
@use "vars";

$border-color: ulu.color-get("rule-light");
$border: 1px solid $border-color;
$background-color: ulu.cssvar-use("color-data-table-background");
$color: inherit;
$padding: 0.5em;
$header-background-color: ulu.cssvar-use("color-data-table-header-background");
$cell-background-color: ulu.cssvar-use("color-data-table-cell-background");
$muted-row-background-color: ulu.cssvar-use("color-data-table-muted-row-background");
$muted-border-color: ulu.color-get("rule-light");
$highlighted-row-background-color: ulu.cssvar-use("color-data-table-highlighted-row-background");
$striped-row-background-color: ulu.cssvar-use("color-data-table-striped-row-background");

// Table for data presentation
// Site-table is for simple tables
.wysiwyg table,
.site-data-table table,
table.site-data-table {
  // Make it scroll without wrapper
  border-spacing: 0;
  border: $border;
  background-color: $background-color;
  border-collapse: collapse;
  color: $color;
}
.site-data-table,
.wysiwyg table {
  
  // @include ulu.typography-size("small", $only-font-size: true);
  line-height: ulu.typography-get("line-height-dense" );
  caption {
    background-color: ulu.cssvar-use("color-caption-background");
    border-top: $border;
    border-bottom: 2px solid ulu.color-get("accent");
    margin: 0;
    padding: 1em $padding;
    font-weight: bold;
    @include  ulu.typography-size("large", $only-font-size: true);
    color: ulu.color-get("accent");
  }
  th,
  td {
    vertical-align: top;
  }
  th,
  tr,
  td {
    text-align: left;
  }
  th {
    min-width: 6em;
    vertical-align: middle;
    // color: ulu.color-get("type");
  }
  td:not(:last-child), 
  th:not(:last-child) {
    border-right: $border;
  }
  // This makes it work for nested headers last child that aren't the last in the table
  th:not(:first-child) {
    border-left: $border;
  }
  tr {
    border-top: $border;
  }
  thead tr {
    background-color: $header-background-color;
  }
  tbody tr {
    background-color: $cell-background-color;
  }
  th,
  td {
    padding: $padding;
  }
  .site-data-table__row-muted {
    background-color: $muted-row-background-color;
    td {
      border-color: $muted-border-color;
    }
  }
  .site-data-table__row-highlighted {
    background-color: $highlighted-row-background-color;
  }
  .site-data-table__cell-compact {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
  }
}
.site-data-table--striped,
.wysiwgy table {
  tbody tr:nth-child(even) {
    background-color: $striped-row-background-color;
  }
}
.site-data-table--bold-first,
.wysiwyg table {
  tbody td:first-child {
    font-weight: bold;
  }
}