@use "ulu";
@use "vars";

.horizontal-rule {
  display: inline-block;
  min-height: 1em;
  vertical-align: middle;
  border-right: ulu.element-get-rule-style();
  // border-right-width: 2px;
  margin: 0 0.65em;
  flex-grow: 0;
  align-self: stretch;
}