@use "vars";
@use "ulu";

.icon-switch {
  display: inline-flex;
  border-radius: 20px;
  background-color: ulu.cssvar-use("color-button-background");
  padding: 3px;
}

.icon-switch__icon {
  flex: 1 1 0px;
  border-radius: 50%;
  width: 1.75em;
  height: 1.75em;
  display: flex;
  justify-content: center;
  align-items: center;
  &:not(:last-child) {
    margin-right: 0.25em;
  }
  &.is-active {
    background-color: ulu.cssvar-use("color-base");
  }
}