@use "ulu";
@use "vars";

// Used with list-view

$padding-x: 0.5em;
$padding-y: 0.75em;
$padding-x-with-action: 4em;
$action-margin-small: 0.25em;
$breakpoint: "medium";
$action-size: 2.5rem;
$action-end-size: 4.5rem;

.list-item {
  position: relative; // For actions, etc
}
.list-item__content {
  display: block;
  width: 100%;
  background-color: ulu.cssvar-use("color-card-background");
  border-radius: ulu.element-get("border-radius");
  border: 2px solid transparent;
  // padding: $padding-y $padding-x;
  margin-bottom: 0.35em;
  @include ulu.breakpoint-min($breakpoint) {
    display: flex;
    align-items: center;
  }
}
.list-item__content--link,
a.list-item__content {
  &:hover {
    border-color: ulu.cssvar-use("color-focus");
  }
}
.list-item__section {
  margin: $padding-y $padding-x;

  @include ulu.breakpoint-min($breakpoint) {
    flex-shrink: 0;
    min-width: 15%;
  }
}
// Sizes when displayed like a table
@include ulu.breakpoint-min($breakpoint) {
  .list-item__section--header {
    min-width: min(22rem, 30%);
  }
  .list-item__section--body {
    flex: 1 1 auto;
  }
  .list-item__section--footer {
    min-width: 150px;
    display: flex;
    justify-content: flex-end;
  }
}
.list-item__action {
  position: absolute;
  right: $action-margin-small;
  top: $padding-y;
}
.list-item__action--end {
  bottom: $padding-y;
  top: auto;
}
.list-item__action--end {
  right: $action-margin-small;
  bottom: $padding-y;
}

@include ulu.breakpoint-min($breakpoint) {
  .list-item__action {
    position: absolute;
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
  }
  .list-item__action--start {
    left: $padding-x;
    right: auto;
  }
  .list-item__action--end {
    right: $padding-x;
    left: auto;
  }
}
@include ulu.breakpoint-min($breakpoint) {
  .list-item--w-action-start {
    .list-item__content {
      padding-left: $action-size;
    }
  }
}
.list-item--w-action-end {
  .list-item__content {
    padding-right: $action-end-size;
  }
}
[class*="list-item--w-action"] {
  .list-item__content {
    min-height: $action-size;
  }
}
@include ulu.breakpoint-max($breakpoint) {
  .list-item--w-action-start.list-item--w-action-end {
    .list-item__content {
      min-height: $action-size + $action-end-size;
    }
  }
}