@use "vars";
@use "ulu";

$link-padding-y: 0.35em;
$link-padding-x: 1em;


.site-menu--w-rule {
  border-top: 1px solid ulu.cssvar-use("color-rule-light");
  padding-top: 0.5em;
  margin-top: 0.5em;
}
.site-menu__label {
  text-transform: uppercase;
  padding-bottom: 0.5em;
  @include ulu.typography-size("small");
  color: ulu.cssvar-use("color-menu-label");
}
.site-menu__item--separated {
  border-top: ulu.element-get-rule-style("light");
  margin-top: $link-padding-y;
  padding-top: $link-padding-y;
}
// By default the link hangs outside the container so that 
// the icons/text align to the text (above/below)
// - Use the modifier "site-menu--contained" to keep the links within 
//   the parent container (no optical alignment), should be within something that contains it
.site-menu__link,
.site-menu__checkbox {
  width: 100%;
  display: flex;
  align-items: center;
  padding: $link-padding-y $link-padding-x;
  margin: 0.2em 0;
  border-radius: ulu.element-get("border-radius-large");
  font-weight: ulu.typography-get("font-weight-semibold");
  color: ulu.cssvar-use("color-menu-type");
  background-color: ulu.cssvar-use("color-menu-background");
  &:hover,
  &:focus {
    color: ulu.cssvar-use("color-menu-type-hover");
    background-color: ulu.cssvar-use("color-menu-background-hover");
  }
}
.site-menu__checkbox {
  $checkbox-y: ($link-padding-y + 0.2em);
  padding: 0;
  position: relative;
  [type="checkbox"] {
    position: absolute;
    top: $checkbox-y;
    left: $link-padding-x;
  }
  label {
    width: 100%;
    padding: $checkbox-y $link-padding-x $checkbox-y 3em;
  }
}
.site-menu__link-text {
  display: block;
  flex-grow: 1;
}
.site-menu__link.is-active,
.site-menu__link.is-active:hover {
  background-color: ulu.cssvar-use("color-menu-background-active");
  color: ulu.cssvar-use("color-menu-type-active");
}
.site-menu__link-icon {
  margin-right: 0.65em;
  width: 1em;
}

// Modifiers

// Link buttons hang outside in margin so that text optically aligns
.site-menu--hanging {
  .site-menu__link {
    margin-left: -1em;
    margin-right: -1em;
    border-radius: ulu.element-get("border-radius-large");
    width: calc(100% + 2em);
  }
}
.site-menu--compact {
  .site-menu__link {
    border-radius: 0;
    margin: 0;
    padding: 0.25em 0.75em;
  }
}