@use "vars";
@use "ulu";
@use "sass:math";

$padding-x: 1em;
$padding-y: 0.75em;
$border: ulu.element-get-rule-style("light");
$breakpoint: "medium";


.table-menu {
  display: table;
  border-collapse: collapse;
  width: 100%;
}
.table-menu__group {
  display: table-row-group;
}
.table-menu__group--header {
  .table-menu__cell {
    padding-bottom: math.div($padding-y, 2);
  }
}
.table-menu__header-label {
  font-weight: ulu.typography-get("font-weight-semibold");
  color: ulu.cssvar-use("color-type-tertiary");
}
.table-menu__row {
  display: table-row;
  // height: $row-height;
  // Becomes the active border, right border so it's equal
  // padding-left: 5px;
  // padding-right: 5px;
  // border-left: 5px solid transparent;
  // border-right: 5px solid transparent;
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  
}
// .table-menu__header-inner {
  // padding-bottom: 0.25em;
  
  // align-items: flex-end;
// }
.table-menu__cell {
  display: table-cell;
  vertical-align: middle;
  padding: $padding-y $padding-x;
  // min-width: 20em;
  // width: clamp(50%, 50em, 100%);
  &:last-child {
    text-align: right;
  }
}


.table-menu__row--link {
  position: relative;
  background-color: transparent;
  cursor: pointer;
  border-top: $border;
  border-bottom: $border;
  &:hover,
  &:focus {
    background-color: ulu.cssvar-use("color-base");
  }
  &.is-active {
    // padding-left: 0;
    background-color: ulu.cssvar-use("color-base");
    // border-left: 5px solid ulu.cssvar-use("color-active");
    .table-menu__cell:first-child {
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: ulu.cssvar-use("color-active");
        width: 5px;
      }
    }
  }
}
