@use "ulu";
@use "vars";

:root {
  --ulu-sticky-top-offset: #{ ulu.cssvar-use("sticky-offset-top") };
  &.fullscreen-layout {
    @include ulu.cssvar-declare("header-height", 3.75rem);
  }
}
html {
  scroll-padding-top: 6rem;
}
body {
  height: 100%;
  margin: 0;
}
