@use "ulu";
@use "vars";

html {
  scroll-padding-top: 6rem;
}
body {
  height: 100%;
  margin: 0;
}
[disabled],
:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
button[disabled] {
  pointer-events: none;
}
dd, 
dt,
dl {
  margin: 0;
}
caption {
  text-align: left;
  margin: 1em 0;
}
