@use "vars";
@use "ulu";

.logo {
  display: flex;
  align-items: baseline;
  line-height: 1;
}
.logo__main {
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 0.5em;
  padding-right: 0.5em;
  border-right: 1px solid #0000006b;
  @include ulu.typography-size("large-x", $only-font-size: true);
  
}
.logo__subtitle {
  opacity: 0.6;
  font-weight: ulu.typography-get("font-weight-light");
  @include ulu.typography-size("small", $only-font-size: true);
}