@use "vars";
@use "ulu";

.AppMobileNav__navbar {
  display: none;
  @include ulu.breakpoint-max("medium") {
    width: 100%;
  }
  &.is-active {
    display: block;
  }
}

.AppMobileNav__ul {
  @include ulu.breakpoint-max("medium") {
    flex-direction: column;
    width: 100%;
    padding: 0 1rem;
    height: 100vh;
  }
  & > li > a.is-active{
    border: none;
  }
}