<!doctype html>
<html lang="en">
	{% include "partials/head.njk" %}
	<body class="page">
		{% include "partials/header.njk" %}
		{% if toc !== false %}
			<div class="page__toc page-toc">
				{{ content | toc | safe }}
			</div>
		{% endif %}
		<div class="page__body">
			<main id="main">
				{% block main %}
					{{ content | safe }}
				{% endblock %}
			</main>
			{% include "partials/footer.njk" %}
		</div>
		{% include "partials/scripts.njk" %}
		{% block scripts %}{% endblock %}
	</body>
</html>
