@use "vars";
@use "ulu";

// $breakpoint: "small";
.list-view {
  margin: 1em 0 2em 0;
}
.list-view__header {
  margin-bottom: 1em;
  padding-bottom: 0.5em;
  display: flex;
  align-items: center;
}
.list-view__header-meta {
  margin-right: 1em;
}
.list-view__header-filters {
  text-align: right;
  margin-left: auto;
}
.list-view__pagination {
  margin-top: 1em;
}
// .list-view__list {
//   @include ulu.breakpoint-min($breakpoint) {
//     display: table;
//   }
// }