@use "vars";
@use "ulu";
@use "sass:math";

$bar-height: 12px;
$bar-height-small: 8px;

.progress-bar {
  // display: inline-block;
  max-width: 20rem;
  line-height: ulu.typography-get("line-height-dense");
  margin-bottom: 0.5em;
  // max-width: $max-width;
}
.progress-bar__header {
  display: flex;
  align-items: flex-end;
}
.progress-bar__icon {
  margin-left: auto;
  padding-left: 0.25em;
  // font-size: 1.15em;
}
.progress-bar__track {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  display: flex;
  width: 100%;
  overflow: hidden;
  background-color: ulu.cssvar-use("color-chart-inactive");
}
.progress-bar__bar {
  height: $bar-height;
  display: flex;
  &:before {
    content: '';
    display: block;
    width: 100%;
    background-color: ulu.cssvar-use("color-chart-neutral");
    transform-origin: left center;
    animation: progress-bar 500ms forwards ease-in;
  }
}
.progress-bar__bar--deficit {
  align-items: flex-end;
  margin-left: auto;
  background-color: ulu.cssvar-use("color-chart-low");
}
.progress-bar--positive {
  .progress-bar__bar:before {
    background-color: ulu.cssvar-use("color-chart-complete");
  }
}
.progress-bar--negative {
  .progress-bar__bar:before {
    background-color: ulu.cssvar-use("color-chart-incomplete");
  }
}
.progress-bar__values {
  display: flex;
  font-weight: ulu.typography-get("font-weight-light");
  color: ulu.cssvar-use("color-type-tertiary");
}
.progress-bar__value {
  margin-right: 0.5em;
}
.progress-bar__value--deficit {
  margin-left: auto;
  margin-right: 0.3em;
  & + .progress-bar__value--total {
    margin-left: 0;
  }
}
.progress-bar__value--total {
  margin-left: auto;
  margin-right: 0;
}
.progress-bar--small {
  max-width: 10rem;
  .progress-bar__bar {
    height: $bar-height-small;
  }
}


.progress-bar--icon-left {
  padding-left: 2em;
  // This is positioned to the header so
  // that it can look like it's positioned to the track
  // even though it's above it in the dom
  // Centering to the whole component won't work if the label is hidden
  .progress-bar__header {
    position: relative;
  }
  .progress-bar__icon {
    position: absolute;
    top: 100%; // Align to track
    left: -2em;
    margin-top: math.div($bar-height-small, 2); // Move alignment to center of track
    transform: translateY(-50%);  // Now center to that point
  }
}

@keyframes progress-bar {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}