@use "ulu";
@use "vars";

$inactive: ulu.cssvar-use("color-chart-inactive");

$statuses: (
  "low" : ulu.cssvar-use("color-chart-low"),
  "incomplete" : ulu.cssvar-use("color-chart-incomplete"),
  "complete" : ulu.cssvar-use("color-chart-complete"),
);

.progress-donut {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  // margin: 0.25rem;
}
.progress-donut__chart {
  position: relative;
  line-height: 1;
}
.progress-donut__chart-value {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // margin-top: -0.2em;
  color: black;
  text-shadow: none;
}
.progress-donut__chart-svg {
  width: 100px; 
  height: 100px;
  transform: rotate(-90deg);
  background: $inactive;
  border-radius: 50%;
  
}
.progress-donut__chart-pie {
  fill: $inactive;
  stroke: ulu.cssvar-use("color-chart-neutral");
  stroke-width: 32;
  stroke-dasharray: 0 100;
  will-change: stroke-dasharray;
  transition: stroke 300ms; // If value is changing
}
.progress-donut__chart-mask {
  fill: ulu.cssvar-use("color-chart-donut-mask");
}
.progress-donut__value {
  color: ulu.cssvar-use("color-type-tertiary");
  margin: 0.1em 0.35em;
  font-weight: normal;
  line-height: 1;
}

.progress-donut--small {
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  .progress-donut__chart {
    line-height: 0.8;
  }
  .progress-donut__chart-svg {
    width: 30px; 
    height: 30px;
  }
  .progress-donut__chart-pie {
    stroke-width: 18;
  }
}
.progress-donut--small-below {
  display: block;
}

@each $name, $color in $statuses {
  .progress-donut--status-#{ $name } {
    .progress-donut__chart-pie {
      stroke: $color;
    }
  }
}