@use "vars";
@use "ulu";

.sticky-message {
  position: sticky;
  bottom: 1rem;
  margin: 1rem 0;
  padding: 0.5rem;
  background-color: ulu.cssvar-use("color-background-hightlight");
  border-radius: ulu.element-get("border-radius");
  box-shadow: ulu.element-get("box-shadow");
  z-index: ulu.layout-get("z-index-above");
  
}
.sticky-message--left,
.sticky-message--right {
  width: min-content;
  min-width: min(20rem, 100%);
}
.sticky-message--right {
  margin-left: auto;
}