@use "ulu";
@use "vars";
// For interactive icons that appear by themselves (not in .button, etc)
.ui-icon {
  color: ulu.cssvar-use("color-icon");
  &:hover {
    color: ulu.cssvar-use("color-icon-hover");
  }
  &.is-active {
    color: ulu.cssvar-use("color-accent");
  }
}