@use "vars";
@use "ulu";

// A place to put any demo styles, please prefix selectors with "demo" 
// (like .demo-grid, .demo-background, etc). These styles should be used to demonstrate 
//something in the page. Such as adding background elements so the user can see how a 
// layout works for example. An example of this would be the grid layout styling used 
// here: http://inf-1601--code-kit.dev-informatics.com/less/grids/grid-data-attribute/

// Note if the style is something used to display things in the documentation 
// (like an example or demo), please create unique components for those in ../components.
// These styles should be just for demonstrating something visually

.demo-grid__container {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px dashed vars.$color-blue;
}

.demo-grid {
  > .demo-grid__cell {
    border: 1px solid vars.$color-violet-light;
    &[data-grid-item]::after{
      background: black;
      height: 2px;
    }
    &[data-grid-item]::before {
      background: black;
      width: 2px;  
    }
  }
  .demo-grid__content{
    background-color: vars.$color-violet-light-x;
  }
}
.demo-sandwich {
  background-color: rgb(255, 211, 130);
}

.demo-scrollpoint {
  padding: 1rem;
  text-align: center;
  background-color: #ffa;
  transition: background-color 200ms ease;
  &[data-scrollpoint-state*="enter"] {
    background-color: rgb(23, 130, 112);
  }
}