@use "vars";
@use "ulu";

@use "sass:color";

// A place to put any demo styles, please prefix selectors with "demo" 
// (like .demo-grid, .demo-background, etc). These styles should be used to demonstrate 
//something in the page. Such as adding background elements so the user can see how a 
// layout works for example. An example of this would be the grid layout styling used 
// here: http://inf-1601--code-kit.dev-informatics.com/less/grids/grid-data-attribute/

// Note if the style is something used to display things in the documentation 
// (like an example or demo), please create unique components for those in ../components.
// These styles should be just for demonstrating something visually

$demo-color: ulu.color-tint(vars.$color-violet-light, 15%);

.demo-grid-container {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 2px dashed color.change($demo-color, $alpha: 0.5);
}

.demo-grid__content{
  background-color: color.change($demo-color, $alpha: 0.1);
  padding: 2em 0;
}
// .demo-grid__cell {}
.demo-grid-element-outside {
  background-color: rgb(255, 211, 130);
}