@use "vars";
@use "ulu";

.wysiwyg {
  h1 {
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: ulu.element-get-rule-style("light");
  }
  // Make MD table scroll without wrapper
  table {
    display: block;
    white-space: normal;
    overflow-x: auto;
    width: -moz-max-content;
    width: max-content;
    max-width: 100%;
    border-top: none;
    margin-bottom: 2.5em;
  }
  details:not(.accordion) {
    margin-bottom: 1em;
    padding: 0.5em 1em;
    background-color: ulu.color-tint(ulu.color-get("rule-light"), 50%);
    @include ulu.typography-size("small", $only-font-size: true);
    &[open] > summary {
      margin-bottom: 1em;
      
    }
  }
  h2 {
    &:after {
      content: "";
      display: block;
      width: 1em;
      height: 5px;
      margin-top: 0.5em;
      background-color: ulu.color-get("rule-light");
    }
    // border-bottom: 8px solid ulu.color-get("rule-light");
    // padding-bottom: 0.5em;
    // margin-bottom: 2em;
    // text-align: center;
    // background-color: ulu.color-get("accent");
    // color: white;
    // padding: 1em;
    // text-transform: uppercase;
  }
  pre {
    margin-bottom: 2em;
  }
}