{# 
  Print menu structure, from eleventyNav array
  - Note you need to include the page data if you want to add icons
  @param {Array} items Array from eleventyNav
  @param {Array} depth Menu level depth
  @param {Array} currentDepth Current depth (used internally) 
#}
{% macro menu(collection, depth=1, currentDepth=0) %}
  {% set currentDepth = currentDepth + 1 %}
  <ul class="menu">
    {%- for entry in collection %}
      <li class="menu__item">
        <a 
          href="{{ entry.url }}"
          {% if entry.url == page.url %} 
            aria-current="page"
          {% endif %}
        >
          {% if entry.page.data.icon %}
            <span class="menu__icon fas fa-{{ entry.page.data.icon }}" aria-hidden="true"></span>
          {% endif %}
          <span class="menu__text">{{ entry.title }}</span>
        </a>
        {% if entry.children and currentDepth <= depth %}
          {{ menu(entry.children, depth, currentDepth) }}
        {% endif %}
      </li>
    {%- endfor %}
  </ul>
{% endmacro %}


{% macro optionsTable(items, options = {}) %}
  <table class="data-table options-table">
    {% if options.caption %}
      <caption>{{ options.caption }}</caption>  
    {% endif %}
    <thead>
      <tr>
        <th>Option</th>
        <th>Value</th>
        <th>Description/Example</th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
        <tr>
          <td><strong>{{ item.name }}</strong></td>
          <td><strong>{{ item.values }}</strong></td>
          <td>
            <p v-if="item.description">
              {{ item.description }}
            </p>
            <div v-if="item.example" class="options-table__example">
              <code>{{ item.example }}</code>
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endmacro %}