@use "ulu";
@use "vars";
// @use "../modules/badge";

// $width: badge.get("width");

.badge-stack {
  width: 10rem;
  display: flex;
  // flex-direction: row-reverse;
  // justify-content: flex-end;
  // overflow-x: auto;
  // position: relative;
  // &:after {
  //   content:'';
  //   display: block;
  //   position: absolute;
  //   width: 8rem;
  //   top: 0;
  //   right: 0;
  //   bottom: 0;
  //   background: linear-gradient(to right, rgba(255,255,255,0), white);
  // }
}
.badge-stack__item {
  flex: 0 1 min-content;
  margin-right: -5px;
  // .badge {
  //   position: absolute;
  //   top: 50%;
  //   left: 0;
  //   transform: translatey(-50%);
  // }
  .badge__inner {
    // box-shadow: ulu.element-get("box-shadow");
    position: relative;
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: -1px;
      bottom: -1px;
      left: -1px;
      right: -1px;
      border-radius: 50%;
      border: 3px solid white;
    }
  }
  .badge {
    &:focus,
    &:hover {
      .badge__inner {
        z-index: 2;
      }
    }
  }
  // Used for counter
  .badge--secondary {
    &:focus,
    &:hover {
      .badge__inner {
        &:before {
          // border-color: ulu.cssvar-use("color-link");
        }
      }
    }
  }
}


// Stacking method won't work
// .badge-stack {
//   width: 15rem;
//   display: flex;
//   flex-direction: row-reverse;
//   justify-content: flex-end;
//   overflow: hidden;
// }
// .badge-stack__item {
//   flex: 0 1 min-content;
//   // .badge {
//   //   position: absolute;
//   //   top: 50%;
//   //   left: 0;
//   //   transform: translatey(-50%);
//   // }
//   .badge__inner {
//     box-shadow: ulu.element-get("box-shadow");
//     // border: 2px solid white;
//   }
//   .badge {
//     &:focus,
//     &:hover {
//       .badge__inner {
//         position: relative;
//         z-index: 2;
//       }
//     }
//   }
// }