@use "ulu";
@use "vars";


.card-images,
.card-images__overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.card-images {
  background-color: white;
  display: grid; 
  grid-template-columns: 1.25fr 0.75fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 3px; 
  grid-template-areas: 
    "left-top right-top"
    "left-bottom right-bottom"; 
}
.card-images__item {
  position: relative; // For overlay
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.card-images__item:nth-child(1) {
  grid-area: left-top / left-top / left-bottom;
}
.card-images__item:nth-child(2) {
  grid-area: right-top;
}
.card-images__item:nth-child(3) {
  grid-area: right-bottom;
}
.card-images__overlay {
  background-color: rgba(0,0,0,0.5);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: small;
}