.header-justified {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1em;
  > :first-child {
    margin-right: 1em;
  }
}
.header-justified__section {
  margin-right: 0.5em;
  &:last-child {
    margin-right: 0;
    margin-left: auto;
  }
}