@use "ulu";
@use "vars";

.sidebar-layout__sidebar,
.sidebar-layout__body {
  margin-bottom: 2rem;
}

@include ulu.breakpoint-min("small") {
  .sidebar-layout {
    display: flex;
  }
  .sidebar-layout--sticky {
    align-items: flex-start;
    .sidebar-layout__sidebar {
      position: sticky;
      top: 0;
    }
  }
  .sidebar-layout__sidebar {
    flex: 0 0 18rem;
    & + .sidebar-layout__body { 
      margin-left: vars.$site-margin;
    }
  }
  .sidebar-layout__body {
    flex: 1;
    & + .sidebar-layout__sidebar {
      margin-left: vars.$site-margin;
    }
  }
}