@use "vars";
@use "ulu";

.tile-button {
  padding: 1em 0.5em;
  white-space: normal;
  margin: 0;
  height: 100%;
  width: 100%;
  border-radius: ulu.element-get("border-radius");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: ulu.typography-get("line-height-densest");
  // &:hover {
    // filter: brightness(85%);
    // .tile-button__icon {
    //   opacity: 1;
    // }
  // }
}
.tile-button__row {
  & + & {
    margin-top: 0.5em;
  }
  &.tag {
    margin-right: 0;
    opacity: 0.75;
  }
}
.tile-button__row--icon {
  margin: 0 auto;
  opacity: 0.5;
  font-size: 1.5em;
  & + .tile-button__row {
    margin-top: 1em;
  }
}
.tile-button__row--title {
  font-weight: bold;
}
.tile-button__row--description {
  @include ulu.typography-size("small-x", $only-font-size: true);
}