{# On dev/serve use vite for assets #}
{% if eleventy.env.runMode === "serve" %}
  <script src="/site/src/main.js" type="module"></script>
{% else %}
  {# On build just the main script (css is added in head) #}
  <script src="/assets/main.js" type="module"></script>
{% endif %}
{# <script>feather.replace();</script> #}