@use "ulu";
@use "sass:map";

$config: (
  "gap" : 2rem,
  "compact-gap" : 1rem,
  "template-columns" : 1fr 1fr,
  "compact-template-columns" : 1fr 1fr 1fr,
) !default;

@mixin set($changes) { 
  $config: map.merge($config, $changes) !global; 
}
@function get($name) { 
  @return ulu.utils-require-map-get($config, $name, 'card-grid [config]'); 
}
@mixin styles {
  .card-grid {
    display: grid;
    grid-template-columns:  get("template-columns");
    grid-auto-rows: 1fr;
    gap: get("gap");
    margin: get("gap") 0;
    .card {
      max-width: none;
      height: 100%;
      margin: 0;
    }
  }
  .card-grid--compact {
    grid-template-columns: get("compact-template-columns");
    gap: get("compact-gap");
  }
  @include ulu.breakpoint-max("small") {
    .card-grid {
      grid-template-columns: 1fr;
    }
  }
}