@use "sass:map";
@use "ulu";
@use "vars";

$config: (
  "background-color" : black,
  "color" : white,
  "width" : 4rem,
  "height" : 4rem,
  "font-size" : 2rem,
  "indent" : 1rem,
  "margin-y" : 1rem,
  "nudge-y" : -0.25rem,
  "border-radius" : 50%,
  "multiple-border" : false
) !default;

@mixin set($changes) {
  $config: map.merge($config, $changes) !global;
}
@function get($name) {
  @return ulu.utils-require-map-get($config, $name, "icon-section [config]");
}
@mixin styles {
  // Icon hangs in margin
  .icon-section {
    padding: get("margin-y") 0;
    margin-left: (get("width") + get("indent")); 
    position: relative;
  }
  .icon-section__icon {
    background-color: get("background-color");
    font-size: get("font-size");
    border-radius: get("border-radius");
    color: get("color");
    width: get("width");
    height: get("height");
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: get("margin-y");
    right: 100%;
    margin-right: get("indent");
    margin-top: get("nudge-y");
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  @if get("multiple-border") {
    .icon-section + .icon-section {
      border-top: get("multiple-border");
    }
  }
}