@use "ulu";
@use "sass:map";

// Documentation: 
// - https://micromodal.now.sh/

/// Config options

$config: (
  "backdrop-color" :                ulu.element-get("backdrop-color"),
  "backdrop-filter" :               blur(4px),
  "box-shadow" :                    none,         
  "width":                          400px,
  "width-centered":                 600px,
  "border-radius" :                 0,
  "resizer-width":                  1rem,
  "resizer-color":                  black,
  "resizer-color-hover":            black,
  "resizer-background-color":       rgb(221, 221, 221),
  "resizer-background-color-hover": rgb(66, 66, 66),
  // "resizer-icon":                   icon.$fa-var-grip-lines-vertical,
  "header-padding":                 1rem,
  "header-border-bottom":           none,
  "header-background-color":        black,
  "header-color":                   white,
  "title-color":                    white,
  "title-font-weight":              bold,
  "close-color":                    black,
  // "close-icon":                    icon.$fa-var-times,
  "close-color-hover":              black,
  "close-background-color":         white,
  "close-background-color-hover":   blue,
  "body-padding":                   1rem,
  "body-background-color":          white,
  "dark-background-color" :         false,
  "dark-color" :                   white,
  "dark-header-border-bottom" :     false,
  "dark-header-background-color" :  false,
  "dark-header-color" :             false,
) !default;

/// Change modules $config
/// @param {Map} $changes Map of changes
/// @example scss - General example, replace module-name with module's name
///   @include module-name.set(( "property" : value ));

@mixin set($changes) {
  $config: map.merge($config, $changes) !global;
}

/// Get a config option
/// @param {Map} $name Name of property
///   @include module-name.get("property");

@function get($name) {
  @return ulu.utils-require-map-get($config, $name, 'site-modal [config]');
}

/// Main mixin to output the styles

@mixin styles {
  // // Before it's moved
  // [data-site-modal] {
  //   display: none;
  // }
  
  .site-modal {
    display: block;
    // &.is-active {
      
    // }
  }
  .site-modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: get("backdrop-color");
    display: flex;
    backdrop-filter: get("backdrop-filter");
    justify-content: center;
    align-items: center;
    z-index: ulu.layout-get("z-index-fixed");
  }
  .site-modal__container {
    background-color: #fff;
    // Using a flex container for scrollable body
    display: flex;
    flex-direction: column;
    width: get("width");
    min-height: 340px;
    max-height: 100vh;
    max-width: 100%;
    box-shadow: get("box-shadow");
    border-radius: get("border-radius");
    overflow-y: hidden;
    box-sizing: border-box;
  
    // Use native resize
    .site-modal--resize.site-modal--center & {
      resize: both;  
      width: get("width-centered");
    }
    // Account for custom resizer
    .site-modal--resize.site-modal--right  & {
      padding-left: get("resizer-width");
    }
    .site-modal--resize.site-modal--left & {
      padding-right: get("resizer-width");
    }
  }
  .site-modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0;
    padding: get("header-padding");
    border-bottom: get("header-border-bottom");
    background-color: get("header-background-color");
    color: get("header-color");
  }
  .site-modal__body {
    flex: 1;
    overflow: auto;
    padding: get("body-padding");
    background-color: get("body-background-color");
  }
  .site-modal__title {
    margin: 0;
    color: ulu.color-get(get("title-color"));
    font-weight: get("title-font-weight");
    @include ulu.typography-size("large");
  }
  .site-modal__close {
    margin: 0 0 0 0.5rem;
    flex: 0 0 auto;
    font-size: 1.2rem;
    width: 2.5rem;
    height: 2.5rem;
    background-color: get("close-background-color");
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: get("close-color");
    &:hover {
      background-color: get("close-background-color-hover");
      color: get("close-color-hover");
    }
    // @if get("close-icon") {
    //   &:before {
    //     @include icon.solid(get("close-icon"));
    //   }
    // }
  }
  .site-modal__resizer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: get("resizer-width");
    display: block;
    cursor: col-resize;
    background-color: get("resizer-background-color");
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: background-color, color;
    transition-duration: 300ms;
    transition-delay: 100ms; 
    color: get("resizer-color");
    // @if get("resizer-icon") {
    //   &:before {
    //     @include icon.solid(get("resizer-icon"));
    //   }
    // }
    &:hover {
      color: get("resizer-color-hover");
      background-color: get("resizer-background-color-hover");
    }
    .site-modal--left & {
      left: auto;
      right: 0;
    }
  }
  .site-modal__content {
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 1.5;
    color: rgba(0,0,0,.8);
  }
  .site-modal--right,
  .site-modal--left {
    .site-modal__container {
      border-radius: 0;
    }
  }

  // Alternate layout on the right/left
  .site-modal--right  {
    .site-modal__overlay {
      justify-content: flex-end;
      align-items: stretch;
    }
  }
  .site-modal--left  {
    .site-modal__overlay {
      justify-content: flex-start;
      align-items: stretch;
    }
  }
  @if get("dark-background-color") {
    .site-modal--background-dark {
      .site-modal__container {
        background-color: get("dark-background-color");
        color: get("dark-color");
      }
      @if get("dark-header-border-bottom") {
        .site-modal__header {
          border-bottom: get("dark-header-border-bottom");
          background-color: get("dark-header-border-bottom");
          -color: get("dark-header-color");
        }
      }
      .site-modal__body {
        background-color: transparent;
        color: inherit;
      }
    }
  }
  .site-modal--video {
    .site-modal__header {
      border-bottom: none;
    }
    .site-modal__body {
      padding: 0;
    }
  }
  
  @keyframes uiModalFadeDownIn {
      from { opacity: 0; }
        to { opacity: 1; }
  }
  @keyframes uiModalFadeOut {
      from { opacity: 1; }
        to { opacity: 0; }
  }
  @keyframes uiModalSlideIn {
    from { transform: translateY(15%); }
      to { transform: translateY(0); }
  }
  @keyframes uiModalSlideOut {
      from { transform: translateY(0); }
      to { transform: translateY(-10%); }
  }
  @keyframes uiModalSlideRightIn {
    from { transform: translateX(15%); }
      to { transform: translateX(0); }
  }
  @keyframes uiModalSlideRightOut {
      from { transform: translateX(0); }
      to { transform: translateX(-10%); }
  }
  @keyframes uiModalSlideLeftIn {
    from { transform: translateX(-15%); }
      to { transform: translateX(0); }
  }
  @keyframes uiModalSlideLeftOut {
      from { transform: translateX(0); }
      to { transform: translateX(10%); }
  }
  
  .site-modal[aria-hidden="false"] .site-modal__overlay {
    animation: uiModalFadeDownIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
  }
  .site-modal[aria-hidden="false"] .site-modal__container {
    animation: uiModalSlideIn .3s cubic-bezier(0, 0, .2, 1);
  }
  .site-modal--right[aria-hidden="false"] .site-modal__container {
    animation: uiModalSlideRightIn .3s cubic-bezier(0, 0, .2, 1);
  }
  .site-modal--left[aria-hidden="false"] .site-modal__container {
    animation: uiModalSlideLeftIn .3s cubic-bezier(0, 0, .2, 1);
  }
  .site-modal[aria-hidden="true"] .site-modal__overlay {
    animation: uiModalFadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
  }
  .site-modal[aria-hidden="true"] .site-modal__container {
    animation: uiModalSlideOut .3s cubic-bezier(0, 0, .2, 1);
  }
  .site-modal--right[aria-hidden="true"] .site-modal__container {
    animation: uiModalSlideRightOut .3s cubic-bezier(0, 0, .2, 1);
  }
  .site-modal--left[aria-hidden="true"] .site-modal__container {
    animation: uiModalSlideLeftOut .3s cubic-bezier(0, 0, .2, 1);
  }
  
  
  .site-modal .site-modal__container,
  .site-modal .site-modal__overlay {
    will-change: transform;
  }
}