@use "sass:map";
@use "ulu";
@use "vars";

$config: (
  "font-weight" : normal,
  "font-family" : ulu.typography-get("font-family-sans"),
  "border-radius" : 1.25em,
  "box-shadow" : none,
  "padding" : (0.4em 0.75em),
  "margin-x" : 0.5em,
  "line-height" : 1,
  "type-size" : "small",
  "background-color" : #ccc,
  "border" : none,
  "color": inherit,
) !default;

$styles: (
  "success" : (
    "color" : green,
    "background-color" : lightgreen,
    "border-color" : lightgreen
  ),
  "danger" : (
    "color" : red,
    "background-color" : rgb(221, 131, 131),
    "border-color" : rgb(221, 131, 131)
  )
) !default;

@mixin set($changes) {
  $config: map.merge($config, $changes) !global;
}
@function get($name) {
  @return ulu.utils-require-map-get($config, $name, "tag [config]");
}
@mixin set-styles($changes, $deep: false, $overwrite: false) {
  $styles: ulu.utils-map-merge-or-overwrite($styles, $changes, $deep, $overwrite) !global;
}
@mixin styles {
  $prefix: ulu.selector-class("tag");

  #{ $prefix } {
    border-radius: get("border-radius"); 
    display: inline-block;
    padding: get("padding");
    font-weight: get("font-weight");
    font-style: normal;
    text-overflow: ellipsis;
    text-align: center;
    white-space: nowrap;
    border: get("border");
    background-color: get("background-color");
    color: get("color");
    font-family: get("font-family");
    @include ulu.typography-size(get("type-size"));
    line-height: get("line-height");
    &:not(:last-child) {
      margin-right: get("margin-x");
    }
    &:not(:first-child) {
      margin-left: get("margin-x");
    }
    & + & {
      margin-left: 0;
    }
  }

  @each $name, $style in $styles {
    $type-size: map.get($style, "type-size");
    #{ $prefix }--#{ $name } {
      background-color: map.get($style, "background-color"); 
      color: map.get($style, "color"); 
      border: map.get($style, "border"); 
      border-radius: map.get($style, "border-radius"); 
      border-color: map.get($style, "border-color"); 
      box-shadow: map.get($style, "box-shadow"); 
      padding: map.get($style, "padding");  
      @if ($type-size) {
        @include ulu.typography-size($type-size);
      }
      line-height: map.get($style, "line-height");
    }
  }
}
