<!doctype html>
<html lang="en">
	{% include "partials/head.njk" %}
	<body class="page theme-light">
		{% include "partials/header.njk" %}
		{% if toc !== false %}
			<div class="page__toc page-toc">
				{{ content | toc | safe }}
			</div>
		{% endif %}
		<main id="main" class="page__body">

			{# @todo need to set this up in modal #}
			{# <div class="site-search">
				<div id="search-form"></div>
        <div id="search-results"></div>
        <div id="search-pagination"></div>
			</div> #}
			{% block main %}
				{{ content | safe }}
			{% endblock %}
		</main>
		{% include "partials/footer.njk" %}
		{% include "partials/scripts.njk" %}
		{% block scripts %}{% endblock %}
	</body>
</html>
