
{% extends "html.njk" %}
{% block main %}
  <div class="home">
    <div class="home__header">
      <div class="container-full">
        <h1 class="h1">
          {{ title }}
        </h1>
        <p class="type-large type-light">
          {{ intro }}
        </p>
      </div>
    </div>
    <div class="page__body-top ">
      {% if highlights %}
        <div class="home__highlights container">
          {% include "partials/highlights.njk" %}
        </div>
      {% endif %}
      {% if content %}
        <div class="home__body container wysiwyg">
        </div>
      {% endif %}
      {{ content | safe }}
    </div>
  </div>
  
{% endblock %}