////
/// @group accordion
////

@use "sass:map";
@use "sass:math";

@use "../selector";
@use "../utils";
@use "../color";
@use "../typography";


// TODO: This was based on site-details (uses accordion), would be nice if this
//       still has the details element styling but also provide selectors. Make 
//       icon optional?

/// Module Settings
/// @type Map

$config: (
  "background-color":              white,
  "background-color-open":          #F7F8F7,
  "padding-x":                      1.5rem,
  "padding-y":                      1.5rem,
  "transparent-padding-y":          0.5rem,
  "transparent-padding-x":          0,
  "margin":                         3rem,
  "margin-between":                 0,
  "border-radius":                  0,
  "box-shadow":                     none,
  "border-color":                   "rule",
  "border":                         1px solid,
  "summary-color":                  inherit,
  "summary-type-size" :             false,
  "summary-color-hover":            inherit,
  "summary-padding-y":              1rem,
  "summary-background-color":     white,
  "summary-line-height":            inherit,
  "icon-color":                     "link",
  "icon-color-hover":               "link:hover",
  "icon-background-color" :         transparent,
  "icon-background-color-hover" :   transparent,
  "icon-border-radius" :            50%,
  "icon-size" :                     auto,
  "icon-font-size" :                1.5rem
) !default;


/// Change modules $config
/// @param {Map} $changes Map of changes
///   @include module-name.set(( "property" : value ));

@mixin set($changes) {
  $config: map.merge($config, $changes) !global;
}

/// Get a config option
/// @param {Map} $name Name of property
///   @include module-name.get("property");

@function get($name) {
  @return utils.require-map-get($config, $name, "button-verbose [config]");
}

/// Prints component styles
/// @example scss
///  @include ulu.component-example-styles();

@mixin styles {
  $prefix: selector.class("accordion");

  $icon-selector: "#{ $prefix }__icon";
  $summary-selector: "#{ $prefix }__summary";
  $content-selector: "#{ $prefix }__content";
  $transparent-selector: "#{ $prefix }__transparent";

  // When not one of our custom classed details components
  #{ $prefix } {
    position: relative; // For active border
    border-radius: 0;
    padding-left: get("padding-x");
    padding-right: get("padding-x");
    margin-top: get("margin");
    margin-bottom: get("margin");
    border: get("border") color.get(get("border-color"));
    background-color: get("background-color");
    box-shadow: get("box-shadow");
    &:first-of-type {
      border-top-left-radius: get("border-radius");
      border-top-right-radius: get("border-radius");
      >#{ $summary-selector } {
        top: get("border-radius");
      }
    }
    &:last-of-type {
      border-bottom-left-radius: get("border-radius");
      border-bottom-right-radius: get("border-radius");
      >#{ $summary-selector } {
        bottom: get("border-radius");
      }
    }
    & + & {
      $gap: -(get("margin") - get("margin-between"));
      margin-top: $gap;
      margin-top: calc($gap - 1px);
    }
    &[open], &.is-active  {
      background-color: get("background-color-open");
      padding-bottom: get("padding-y");
      z-index: 2; // Above child details
      > #{ $summary-selector } {
        margin-bottom: get("padding-y");
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0; 
        border-bottom: get("border");
      }
    }
  }

  #{ $summary-selector } {
    color: get("summary-color");
    margin-left: -(get("padding-x"));
    margin-right: -(get("padding-x"));
    line-height: get("summary-line-height");
    padding: get("summary-padding-y") get("padding-x");
    // outline: none;
    vertical-align: top;
    font-weight: bold;
    list-style: none; // Remove the default arrow (old safari?)
    cursor: pointer;
    @if (get("summary-type-size")) {
      @include typography.size(get("summary-type-size"));
    }
    &:hover {
      color: get("summary-color-hover");
      #{ $icon-selector } {
        background-color: get("icon-background-color-hover");
        color: color.get(get("icon-color-hover"));
      }
    }
  }
  #{ $icon-selector } {
    // @extend .css-icon, .css-icon-angle--right;
    // @include ulu.css-icon-styles('css-icon');
    flex: 0 0 get("icon-size");
    color: color.get(get("icon-color"));
    margin-left: 0.5em;
    order: 3;
    background-color: get("icon-background-color");
    border-radius: get("icon-border-radius");
    width: get("icon-size");
    height: get("icon-size");
    font-size: get("icon-font-size");
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: arial;
    // &:after {
    //   display: inline-block;
    //   margin-top: 0.1em;
    //   content: "\002B";
    //   // margin-left: auto; // flex to side
    // color: color.get(get("icon-color"));
    // }
  }


  // Only site-details can have icon, 
  // so that plain (no extra markup) details can have the default marker
  #{ $summary-selector } {
    display: flex; // For icon
    align-items: center;
    justify-content: space-between;
    &::-webkit-details-marker,
    &::marker {
      display: none;
      content: "";
    }
  }
  #{ $prefix }[open] > #{ $summary-selector } #{ $icon-selector } {
    // &:after {
    //   content: "\2212"; // Minus
    // }
  }
  #{ $transparent-selector } {
    border-left: none;
    border-right: none;
    background-color: transparent;
    padding-left: get("transparent-padding-x");
    padding-right: get("transparent-padding-x");
    > #{ $summary-selector } {
      margin-left: -(get("transparent-padding-x"));
      margin-right: -(get("transparent-padding-x"));
      padding: get("transparent-padding-y") get("transparent-padding-x");
      background-color: transparent;
      border: none;
    }
    &[open], &.is-active {
      background-color: transparent;
      > #{ $summary-selector }{
        border-bottom: none;
        margin-bottom: 0;
      }
    }
  }
}
