////
/// @group card-grid
////

@use "sass:map";

@use "../breakpoint";
@use "../utils";

/// Module Settings
/// @type Map
/// @prop {CssValue} compact-template-columns [1fr 1fr 1fr] The template-columns of the card-grid--compact.
/// @prop {Dimension} compact-gap [1rem] The grid gap of the card-grid--compact.
/// @prop {Dimension} gap [2rem] The grid gap of the card-grid.
/// @prop {CssValue} template-columns [1fr 1fr] The template-columns of the card-grid.

// @joe-check

$config: (
  "gap" : 2rem,
  "template-columns" : 1fr 1fr,
  "compact-gap" : 1rem,
  "compact-template-columns" : 1fr 1fr 1fr,
) !default;

/// Change modules $config
/// @param {Map} $changes Map of changes
///   @include module-name.set(( "property" : value ));

@mixin set($changes) {
  $config: map.merge($config, $changes) !global;
}

/// Get a config option
/// @param {Map} $name Name of property
///   @include module-name.get("property");

@function get($name) {
  @return utils.require-map-get($config, $name, "card-grid [config]");
}

/// Prints component styles
/// @example scss
///  @include ulu.component-example-styles();

@mixin styles {
  .card-grid {
    display: grid;
    grid-template-columns:  get("template-columns");
    grid-auto-rows: 1fr;
    gap: get("gap");
    margin: get("gap") 0;
    .card {
      max-width: none;
      margin: 0;
      &:not(.card--overlay) {
        height: 100%;
      }
    }
  }
  .card-grid--compact {
    grid-template-columns: get("compact-template-columns");
    gap: get("compact-gap");
  }
  @include breakpoint.max("small") {
    .card-grid {
      grid-template-columns: 1fr;
    }
  }
}