////
/// @group list-lines
////

@use "sass:map";

@use "../element";
@use "../color";
@use "../typography";
@use "../utils";

/// Module Config

$config: (
  "border-first" : true,
  "border-last" : true,
  "margin-top": 0,
  "margin-bottom": 1em,
  "padding-between" : 1em
) !default;

/// Change modules $config
/// @param {Map} $changes Map of changes
///   @include module-name.set(( "property" : value ));

@mixin set($changes) {
  $config: map.merge($config, $changes) !global;
}

/// Get a config option
/// @param {Map} $name Name of property
///   @include module-name.get("property");

@function get($name) {
  @return utils.require-map-get($config, $name, "grid [config]");
}

/// Output component styles

@mixin inner-styles {
  $border: element.get-rule-style("light") !default;
  list-style: none;
  margin: get("margin-top") 0 get("margin-bottom") 0;
  padding: 0;
  @if (get("border-first")) {
    border-top: $border;
  }
  >li {
    border-bottom: $border;
    padding: get("padding-between") 0;
    >*:last-child {
      margin-bottom: 0;
    }
    @if (not get("border-last")) {
      &:last-child {
        border-bottom-width: 0;
      }
    }
  }
}

@mixin styles {
  
  .list-lines {
    @include inner-styles;
  }
  .list-lines--dense {
    >li {
      padding: 0.5em 0;
      line-height: typography.get("line-height-dense");
    }
  }
}
