@use "ulu";
@use "vars";

.site-accordion__item {
  border-top: 1px solid rgb(221, 221, 221);
  border-bottom: 1px solid rgb(221, 221, 221);
  margin: -1px auto 0;
  padding: 0.75rem;
  max-width: 50em;
}

.site-accordian__title {
  padding-right: 1em;
}

.site-accordion__toggle {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &.h4 {
    margin-bottom: 0;
  }
}
.site-accordion__content {
  padding-top: 1em;
  padding-bottom: 3em;
}