@use "vars";
@use "ulu";

@use "showcase";

.measure {
  padding: showcase.$body-padding;
}

.measure__body {
  padding: 0 1em;
}

.measure__content {
  padding: 1em 0;
}

.measure__chart {
  padding: 1em 0 ;
}
// @daniel because this use vars, shouldn't be in a component.
.measure__caption {
  border-top: 1px solid vars.$color-rule;
  margin-top: 3rem;
  padding: 1rem;
}