@use "ulu";

// @joe-check @daniel needs to be added to card component once reviewed

.card-grid--one-column {
  grid-template-columns: 1fr;
  .card {
    max-width: none;
    height: auto !important;
  }
  .card__image {
    flex-basis: 15rem;
    flex-shrink: 0;
    min-height: 0;
    @include ulu.breakpoint-max("small") {
      flex-basis: 10rem;
    }
  }
}