@use "vars";
@use "ulu";

.changelog {
  line-height: ulu.typography-get("line-height-dense");
  h1 {
    display: none;
  }
  h2 {
    @include ulu.typography-size("h3");
    border-bottom: ulu.element-get-rule-style("light");
    border-bottom-width: 3px;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
    margin-top: 1.5em;
  }
  ul {
    @include ulu.element-styles-unordered-list();
  }
  ol {
    @include ulu.element-styles-ordered-list();
  }
}