@use "vars";
@use "ulu";

// $z-index: ulu.layout-get("z-index-fixed") - 2; 
$sidebar-width: 18rem;

.page {
  background-color: ulu.cssvar-use("color-background");
  display: grid;
  grid-template-areas: "header body toc";
  grid-template-columns: $sidebar-width minmax(0, 1fr) minmax(0, 15rem);
  transition: grid-template-columns 0.2s ease;
  
  @media print {
    display: block !important;
  }
  @include ulu.breakpoint-max("medium") {
    display: block;
  }
  .fullscreen-layout & {
    display: block;
  }
}

.page--toc-inline {
  grid-template-areas: "header toc" "header body";
  grid-template-columns: $sidebar-width minmax(0, 1fr);
}

.page--sidebar-collapsed {
  grid-template-columns: 0px minmax(0, 1fr) minmax(0, 15rem);
  .page__header {
    visibility: hidden;
    pointer-events: none;
  }
  &.page--toc-inline {
    grid-template-columns: 0px minmax(0, 1fr);
  }
}

.site-sidebar-toggle {
  position: fixed;
  top: 1rem;
  left: calc(#{$sidebar-width} + 1.25rem);
  z-index: 999;
  transition: left 0.2s ease;
  
  .page--sidebar-collapsed & {
    left: 1.25rem;
  }
  
  @include ulu.breakpoint-max("medium") {
    display: none;
  }
}
.page__header,
.page__toc {
  height: 100vh;
  position: sticky;
  top: 0;
  overflow-y: auto;
  @media print {
    display: none !important;
  }
  
}
.page__header {
  grid-area: header;
  z-index: ulu.layout-get("z-index-above");
  @include ulu.breakpoint-max("medium") {
    height: auto;
  }
  .fullscreen-layout & {
    height: ulu.cssvar-use("header-height");
  }
}
.page__body {
  grid-area: body;
}
.page__toc {
  grid-area: toc;
  @include ulu.breakpoint-max("medium") {
    height: auto;
    position: static;
  }
}
.page__body-top {
  padding-top: 6rem;
  .page--toc-inline & {
    padding-top: 3rem;
  }
  @include ulu.breakpoint-max("small") {
    padding-top: 3rem;
  }
}
.page__content-header {
  background-color: ulu.cssvar-use("color-content-header-background");
}