@use "vars";
@use "ulu";

.logo {
  display: flex;
  align-items: baseline;
  line-height: 1;
}
.logo__main {
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 0.5em;
  padding-right: 0.5em;
  border-right: 1px solid #ddd;
  @include ulu.typography-size("large-x", $only-font-size: true);
  &,
  &:hover,
  &:focus {
    color: ulu.color-get("accent");
  }
}
.logo__subtitle {
  
  font-weight: ulu.typography-get("font-weight-light");
  color: ulu.color-get("type-secondary");
  @include ulu.typography-size("small", $only-font-size: true);
  &,
  &:hover,
  &:focus {
    color: ulu.color-get("type-secondary");
  }
}