/// NOTE: This is an updated version that uses floating UI

@use "ulu";
@use "vars";
@use "sass:math";

$color: inherit;
$background-color:       white;
$body-padding:           1.5rem;
$body-padding-large:     2.5rem;
$z-index:                ulu.layout-get("z-index-fixed") + 1;
$box-shadow:             ulu.element-get("box-shadow-above");
$box-shadow-footer:      0 0 4px ulu.color-get("box-shadow");
$border-radius:          6px;
$arrow-size:             16px; // Needs to match JS setting
$arrow-size-half:        math.div($arrow-size, 2);
$tooltip-background-color: white;
$tooltip-body-padding:   (1.5rem 1.25rem);
$tooltip-width:          max(min-content, 20rem);
$tooltip-color:          vars.$color-type-secondary;
$type-size:              null;

.site-popover__arrow {
  display: block;
  visibility: hidden;
  z-index: 1;
  &,
  &:before {
    position: absolute;
    width: $arrow-size;
    height: $arrow-size;
    background: inherit;
  }
  &:before {
    visibility: visible;
    content: '';
    transform: rotate(45deg);
    // box-shadow: $box-shadow;
  }
  [data-placement^='top'] > & {
    bottom: -($arrow-size-half);
  }
  [data-placement^='bottom'] > & {
    top: -($arrow-size-half);
  }
  [data-placement^='left'] > & {
    right: -($arrow-size-half);
  }
  [data-placement^='right'] > & {
    left: -($arrow-size-half);
  }
}
// Default position is on the right of the container
// Note: Popper will handle positioing
.site-popover {
  display: none;
  position: absolute;
  z-index: $z-index;
  background-color: $background-color;
  color: $color;
  width: 15rem;
  max-width: 90vw;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  text-align: left;
  @if ($type-size) {
    @include ulu.typography-size($type-size);
  }
  &.is-active {
    display: block;
  }
}
.site-popover__inner {
  display: block;
  overflow-y: auto;
  max-height: 25rem;
  padding: $body-padding;
  // max-height: 40rem;
  // min-height: 3rem;
  position: relative;
  border-radius: $border-radius;
  z-index: 2; // Above arrow
  flex: 1; // When used with footer
}
.site-popover__footer {
  display: block;
  flex: 0;
  box-shadow: $box-shadow-footer;
  padding: 0.25rem $body-padding;
  background-color: white;
  background-color: ulu.color-shade(white, 3%);
  // text-align: center;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}

// Modifiers
.site-popover--tooltip {
  width: $tooltip-width;
  background-color: $tooltip-background-color;
  pointer-events: none;
  color: $tooltip-color;
  .site-popover__inner {
    padding: $tooltip-body-padding;
    min-height: 0;
  }
}
// If you want to do something custom (and have it touch the edges)
.site-popover--no-padding {
  .site-popover__inner {
    padding: 0;
  }
}
.site-popover--w-footer {
  .site-popover__inner {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
.site-popover--large {
  width: 30rem;
}
.site-popover--large-x {
  width: 50rem;
}
.site-popover--large,
.site-popover--large-x {
  .site-popover__inner {
    padding: $body-padding-large;
  }
  .site-popover__footer {
    padding: 0.5rem $body-padding-large;
  }
}
