@use "vars";
@use "ulu";
@use "mixins";

.sassdoc-item-header {
  display: flex;
  align-items: center;
  @include mixins.site-headline-rule();
  margin: 4em 0 1em 0;
  h3 {
    margin: 0 1em 0 0;
    border: none;
    padding: 0;
  }
}
.sassdoc-item-header__labels {
  margin-left: auto;
}