
.card {
  color: #323a4f;
  background-color: white;
  border-radius: 5px;
  margin-top: 3rem;
  margin-bottom: 3rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  max-width: 28rem;
}
.card::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 3;
  pointer-events: none;
}

.card[data-ulu-proxy-click-init]:hover, .card[data-ulu-proxy-click-init]:focus-within,
a.card:hover,
a.card:focus-within,
button.card:hover,
button.card:focus-within,
.card--clickable:hover,
.card--clickable:focus-within {
  background-color: rgb(242, 244, 246);
}
.card[data-ulu-proxy-click-init]:hover::after, .card[data-ulu-proxy-click-init]:focus-within::after,
a.card:hover::after,
a.card:focus-within::after,
button.card:hover::after,
button.card:focus-within::after,
.card--clickable:hover::after,
.card--clickable:focus-within::after {
  content: "";
  border: 2px solid #278cca;
}

.card,
.card::after,
.card__title {
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-property: border-color, background-color, color, -webkit-box-shadow, -webkit-transform;
  transition-property: border-color, background-color, color, -webkit-box-shadow, -webkit-transform;
  transition-property: border-color, background-color, color, box-shadow, transform;
  transition-property: border-color, background-color, color, box-shadow, transform, -webkit-box-shadow, -webkit-transform;
}

.card__title {
  margin-bottom: 1rem;
  display: block;
  font-weight: bold;
}
.card__title .card__title-link {
  all: unset;
  cursor: pointer;
}

.card__header + .card__content {
  margin-top: 0.75em;
}

.card__image {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  position: relative;
  z-index: 1;
  overflow: hidden;
  background-color: rgb(238, 238, 238);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  aspect-ratio: 5 / 3;
  width: 100%;
}

.card__image img,
.card__image-media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition-duration: 350ms;
          transition-duration: 350ms;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-property: -webkit-transform, -webkit-filter;
  transition-property: -webkit-transform, -webkit-filter;
  transition-property: transform, filter;
  transition-property: transform, filter, -webkit-transform, -webkit-filter;
}

.card__footer,
.card__main,
.card__aside {
  padding: 2rem;
}

.card__aside {
  position: relative;
}

.card__image--icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.card__image--icon img {
  position: static;
  display: block;
  max-width: 8rem;
  height: auto;
  top: auto;
  left: auto;
}

.card__body,
.card__footer {
  position: relative;
  z-index: 4;
}

.card__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-height: 10rem;
}

.card__footer {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  min-height: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.card--overlay {
  aspect-ratio: 4 / 3;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}
.card--overlay .card__body,
.card--overlay .card__footer {
  z-index: 2;
}
.card--overlay .card__body {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  min-height: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 4rem;
}
.card--overlay .card__body:not(:has(~ .card__footer)) {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.card--overlay .card__body::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  height: 4rem;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0));
}
.card--overlay .card__footer {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.card--overlay .card__body:last-child,
.card--overlay .card__footer:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.card--overlay .card__title {
  color: white;
}
.card--overlay .card__image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding-top: 0;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  aspect-ratio: auto;
}
.card--overlay .card__image img {
  z-index: 1;
  position: relative;
  width: 100%;
  height: 100%;
  border: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.card--overlay .card__image img::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(0, 0, 0, 0.9)));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.9));
}

.card--no-image .card__image {
  display: none;
}

.card--image-fit .card__image img {
  padding: 1rem;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: top center;
     object-position: top center;
  -webkit-filter: drop-shadow(0 0px 8px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(0 0px 8px rgba(0, 0, 0, 0.3));
}

.card--fill {
  max-width: none;
  height: 100%;
  margin: 0;
}

@media screen and (min-width: 43.5em) {
  .card--horizontal {
    display: grid;
    grid-template-columns: min(33%, 20rem) 1fr;
    grid-template-rows: auto auto;
    min-height: 20rem;
    max-width: 80rem;
  }
  .card--horizontal:not(:has(> .card__footer)) {
    grid-template-rows: auto;
  }
  .card--horizontal .card__image {
    grid-column: 1/2;
    grid-row: 1/-1;
    aspect-ratio: auto;
    border-top-right-radius: 0;
    border-bottom-left-radius: 5px;
  }
  .card--horizontal .card__body,
  .card--horizontal .card__footer {
    grid-column: 2/3;
  }
  .card--horizontal .card__body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .card--horizontal .card__main {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: 40rem;
  }
  .card--horizontal .card__aside {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
    height: 100%;
  }
  .card--horizontal:not(:has(.card__image)) {
    grid-template-columns: 1fr;
  }
  .card--horizontal:not(:has(.card__image)) .card__body,
  .card--horizontal:not(:has(.card__image)) .card__footer {
    grid-column: 1/2;
  }
  .card--horizontal.card--no-image {
    grid-template-columns: 1fr;
  }
  .card--horizontal.card--no-image .card__body,
  .card--horizontal.card--no-image .card__footer {
    grid-column: 1/2;
  }
  .card--horizontal-center .card__body {
    -ms-flex-item-align: center;
        align-self: center;
  }
}