// Used for milestones
@use "ulu";
@use "vars";

$padding-y: 0.75em;
$actions-width: 3em;
$checkbox-width: 1.25em;
$checkbox-margin: 0.75em;

.checklist {
  margin: 1em 0;
}
.checklist__item {
  border-top: ulu.element-get-rule-style("light");
  // margin-top: -1px; // Overlap borders
  padding: $padding-y 0;
  display: grid;
  grid-template-columns: 2em 1fr min-content;
  grid-template-areas: 
    "tl tc tr"
    "bl bc br";
}
.checklist__actions {
  grid-area: tr br;
}
.checklist__input {
  grid-area: tl bl;
}
.checklist__label {
  grid-area: tc;
  flex-grow: 1;
  display: block;
}
.checklist__meta {
  grid-area: bc;
}