{% set menuTree = collections.all | navTree({ 
  includeIndex: false 
})  %}
{% set menu = menuTree | navTreeToHtml({ 
  wrapper: false, 
  collapsible: true,
  class: "nav-tree" 
}) %}

<header class="page__header header">
  <a href="#main" class="skip-link hidden-visually-focusable">
    Skip to main content
  </a>
  <div class="header__main">
    <a class="header__logo" href="/">
      {% include "partials/logo.njk" %}
    </a>
    <button
      class="header__mobile-toggle hidden-min-medium button button--icon button--secondary"
      data-ulu-dialog-trigger="mobile-menu"
      aria-label="Open Menu"
    >
      <span class="fas fa-bars" aria-hidden="true"></span>
    </button>
  </div>
  <nav class="header__nav">
    <h2 class="hidden-visually">Main Menu</h2>
    <div class="header__nav-links">
      <button class="button button--small button--icon button--icon-small" data-site-theme-toggle><span class="fas fa-moon" data-site-theme-toggle-icon></span></button>
      <a 
        class="button button--small button--icon button--icon-small" 
        href="https://www.npmjs.com/package/@ulu/frontend" aria-label="View on Github"
      >
        <span class="fab fa-github" aria-hidden="true"></span>
      </a>
      <a 
        class="button button--small button--icon button--icon-small" 
        href="https://www.npmjs.com/package/@ulu/frontend"
      >
        {# <span style="font-size: 70%">NPM</span> #}
        <span class="fab fa-npm" aria-hidden="true"></span>
      </a>
    </div>
    <div class="header__nav-menu">
      {{ menu | safe }}
    </div>
    <div 
      id="mobile-menu"
      data-ulu-modal-builder='{
        "title" : "Menu",
        "position" : "right"
      }'
    >
      {{ menu | safe }}
    </div>
  </nav>
</header>