<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {% block metaTitle %}{{ title or site.meta.title }}{% endblock %}
  </title>
  <meta name="description" content="{{ description or site.meta.description }}">
  <meta name="generator" content="{{ eleventy.generator }}">
  <link rel="stylesheet" href="/assets/stylesheet.css">
  <script src="https://unpkg.com/feather-icons"></script>
  <link
    href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css"
    rel="stylesheet"
  />
</head>