{% set menuTree = collections.all | navTree({ 
  includeIndex: false 
})  %}
{% set menu = menuTree | navTreeActiveTrailOnly | navTreeToHtml({ 
  wrapper: false, 
  class: "nav-tree" 
}) %}

<header class="page__header header">
  <a href="#main" class="site-skip-link hidden-visually-focusable">
    Skip to main content
  </a>
  <a class="header__logo" href="/">
    {% include "partials/logo.njk" %}
  </a>
  <nav class="header__nav">
    <h2 class="hidden-visually">Main Menu</h2>
    {{ menu | safe }}
  </nav>
</header>