@use "vars";
@use "scss" as ulu;

@include ulu.layout-set((
  "z-index-above": 450 // Below Drupal toolbar
));


// Setup Containers
@function container(
  $ends: 6rem, 
  $smallEnds: 3rem, 
  $max: vars.$site-max-width,

) {
  @return (
    "max-width": $max,
    "padding":   ($ends vars.$site-margin),
    "responsive" : false, // vars.$site-margin-responsive,
    "breakpoints" : (
      "small" : (
        "direction" : "max",
        "padding": ($smallEnds vars.$site-margin-small)
      ),
      // "medium" : (
      //   "direction" : "min",
      //   "padding": ($smallEnds vars.$site-margin)
      // )
    )
  );
}
@include ulu.layout-set-containers((
  "container" : container(),
  // Used for headers and things that go full width
  "container-full" : (
    "padding":   (0 vars.$site-margin),
    "responsive" : false,
  ),
  "container-full-vertical-padding" : (
    "padding":   (vars.$site-header-padding vars.$site-margin),
    "responsive" : false,
  ),
  "container-fit" : container(0, 0),
  "container-small" : container(3rem, 3rem, $max: vars.$site-max-width-small),
  "container-small-fit" : container(0, 0, vars.$site-max-width-small),
  "container-small-x" : container($max: vars.$site-max-width-smallest),
  "container-small-x-fit" : container(0, 0, vars.$site-max-width-smallest),
  "container-large" : container($max: vars.$site-max-width-large),
  // "container-large-fit" : container(0, 0, vars.$site-max-width-large),
));