////
/// @group display
/// Output display related helper stylesheet 
////

@use "sass:map";

@use "../utils";
@use "../layout";
@use "../element";
@use "../breakpoint";
@use "../selector";

/// Print utilities helper styles
/// - Such as hidden, display-block, hidden-visually, and display helpers that for all breakpoints
/// @example scss
///  @include ulu.helper-display-styles();

@mixin styles {

  @include utils.file-header('helpers', 'display');

  $hiddenVisuallyPrefix: selector.class("hidden-visually");
  $displayPrefix: selector.class("display");

  #{ $hiddenVisuallyPrefix } {
    @include element.hidden-visually();
  }
  #{ $hiddenVisuallyPrefix }-focusable {
    &:not(:active):not(:focus) {
      @include element.hidden-visually();
    }
  }
  #{ $displayPrefix }-block {
    display: block;
  }
  #{ $displayPrefix }-flex {
    display: flex;
  }
  #{ $displayPrefix }-inline-flex {
    display: inline-flex;
  }
  #{ $displayPrefix }-inline {
    display: inline;
  }
  #{ $displayPrefix }-inline-all * {
    display: inline;
  }
  #{ $displayPrefix }-inline-block {
    display: inline-block;
  }
  #{ selector.class("hidden") },
  #{ $displayPrefix }-none {
    display: none !important;
  }

  // Display none per breakpoint
  @each $name in map.keys(breakpoint.$sizes) {
    @include breakpoint.min($name) {
      .hidden-min-#{ $name } {
        display: none !important;
      }
    }
    @include breakpoint.max($name) {
      .hidden-max-#{ $name } {
        display: none !important;
      }
    }
  }
}