////
/// @group display
////

@use "sass:map";

@use "../utils";
@use "../layout";
@use "../element";
@use "../breakpoint";
@use "../selector";

/// Print utilities helper styles
/// @example scss
///  @include ulu.helper-display-styles();

@mixin styles {

  @include utils.file-header('helpers', 'display');

  $hiddenVisuallyPrefix: selector.class("hidden-visually");

  #{ $hiddenVisuallyPrefix } {
    @include element.hidden-visually();
  }
  #{ $hiddenVisuallyPrefix }-focusable {
    &:not(:active):not(:focus) {
      @include element.hidden-visually();
    }
  }
  // Consider removing
  .clearfix,
  .cf { 
    @include layout.clearfix();
  }
  .display-block {
    display: block;
  }
  .display-flex {
    display: flex;
  }
  .display-inline-flex {
    display: inline-flex;
  }
  .display-inline {
    display: inline;
  }
  .display-inline-all * {
    display: inline;
  }
  .display-inline-block {
    display: inline-block;
  }
  .hidden,
  .display-none {
    display: none !important;
  }

  // Display none per breakpoint
  @each $name in map.keys(breakpoint.$sizes) {
    @include breakpoint.min($name) {
      .hidden-min-#{ $name } {
        display: none !important;
      }
    }
    @include breakpoint.max($name) {
      .hidden-max-#{ $name } {
        display: none !important;
      }
    }
  }
}