////
/// @group print
////

/// Printed Media Styles 
/// @example scss
///  @include ulu.helper-print-styles();

@mixin styles {
  
  .print-exact {
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
  }
  .no-print {
    @media print {
      display: none !important;
    }
  }
  .print-only {
    @media screen {
      display: none !important;
    }
  }
  // Utility for making dark backgrounds print "ok"
  // - Grayscale added because colors are flipped
  // - Rotating colors doesn't really work
  .print-invert {
    @media print {
      filter: invert(1) saturate(0);
    }
  }
}