////
/// @group print
////

/// Printed Media Styles 
/// @example scss
///  @include ulu.helper-print-styles();

@mixin styles {
  .no-print {
    @media print {
      display: none !important;
    }
  }
  .print-only {
    display: none !important;
    @media print {
      display: block !important;
    }
  }
  // Utility for making dark backgrounds print "ok"
  // - Grayscale added because colors are flipped
  // - Rotating colors doesn't really work
  .print-invert {
    @media print {
      filter: invert(1) saturate(0);
    }
  }
}