@use "sass:math";
@use "sass:map";
@use "sass:meta";
@use "sass:color";

// Note: Keep core colors and assignments as variables so we don't need ULU to access them
//       related project, client use, whatever

$color-black:                 rgb(25, 22, 27);
$color-gray-dark:             rgb(32, 28, 37);
$color-gray-light:            rgb(212, 204, 223);
$color-gray-light-x:          rgb(228, 223, 236);
$color-blue:                  #368db5;
$color-violet-light-x:        #e2d3f0;
$color-violet-light:          #ad7dd9;
$color-violet:                #8c52c3;
$color-violet-dark:           #683894;
$color-blue-violet:           rgb(84, 82, 195);

$color-type:                  #323a4f;
$color-type-secondary:        #3f4963;
$color-type-tertiary:         #5d6782;
$color-type-disabled:         rgb(151, 151, 151);
$color-type-dark-background:  #fdfdfd;

$color-link:                  rgb(40, 76, 121);
$color-link-hover:            rgb(9, 43, 63);
$color-link-visited:          #870ACF;
$color-link-dark:             white;
$color-link-dark-hover:       #b4ecfa;
$color-link-dark-visited:     #75507c;

$color-rule:                 rgb(128, 123, 134);
$color-rule-light:           rgb(233, 231, 238);
$color-rule-accent:          rgb(214, 207, 226);

$site-max-width-large:        110rem;
$site-max-width:              100rem;
$site-max-width-small:        70rem;
$site-max-width-smallest:     50rem;
$site-margin:                 6rem;
$site-margin-small:           2rem;
$site-margin-responsive:      3vw;
$site-header-padding:         6rem;

$site-nav-padding:             1.5rem;
$site-nav-padding-top:         2rem;

